{% extends 'base.html' %}
{% load static %}
{% block extra_sidebar_items %}


<ul class="nav flex-column border-top my-3 py-4">

    <li class="nav-item">
        <h6 class="opacity-75 mb-3"><strong>{{ project.name }}</strong></h6>
    </li>

    {% url 'projects:details' request.user project.slug as dashboard_url %}

    <li class="nav-item d-flex align-items-center">
        <i class="bi bi-house fs-4"></i>
        <a class="nav-link {% if request.path == dashboard_url %}active{% endif %}" href="{{dashboard_url}}">
            Dashboard
        </a>
    </li>

    {% url 'models:list' request.user project.slug as models_url %}

    <li class="nav-item d-flex align-items-center">
        <i class="bi bi-layers fs-4"></i>
        <a class="nav-link {% if request.path == models_url %}active{% endif %}"
            href="{{models_url}}">
            Models
        </a>
    </li>

    {% url 'apps:filtered' request.user project.slug 'compute' as notebooks_url %}
    
    <li class="nav-item d-flex align-items-center">
        <i class="bi bi-cpu fs-4"></i>
        <a class="nav-link {% if request.path == notebooks_url %}active{% endif %}"
            href="{{notebooks_url}}">
            Notebooks
        </a>
    </li>

    {% url 'apps:filtered' request.user project.slug 'serve' as serve_url %}

    <li class="nav-item d-flex align-items-center">
        <i class="bi bi-check2-circle fs-4"></i>
        <a class="nav-link {% if request.path == serve_url %}active{% endif %}"
            href="{{serve_url}}">
            Serve
        </a>
    </li>

    {% url 'apps:filtered' request.user project.slug 'store' as store_url %}

    <li class="nav-item d-flex align-items-center">
        <i class="bi bi-database fs-4"></i>
        <a class="nav-link {% if request.path == store_url %}active{% endif %}"
            href="{{store_url}}">
            Store
        </a>
    </li>

    {% url 'apps:filtered' request.user project.slug 'develop' as develop_url %}

    <li class="nav-item d-flex align-items-center">
        <i class="bi bi-code fs-4"></i>
        <a class="nav-link {% if request.path == develop_url %}active{% endif %}"
            href="{{develop_url}}">
            Develop
        </a>
    </li>

    {% url 'projects:settings' request.user project.slug as settings_url %}

    <li class="nav-item py-3 d-flex align-items-center">
        <i class="bi bi-gear fs-4"></i>
        <a class="nav-link {% if request.path == settings_url %}active{% endif %}" href="{{settings_url}}">
            Settings
        </a>
    </li>

    <li class="nav-item px-4">
        <div class="border-top"></div>
    </li>
</ul>

{% endblock %}

{% block extra_topnav_items %}
{% endblock %}