{% extends 'base.html' %}

{% load static %}
{% block content %}

{% if request.user.is_authenticated %}
<a href="{% url 'projects:project_templates' %}" class="btn btn-primary float-end mt-n1">
    <i class="bi bi-plus-lg me-1"></i>
    New project
</a>
{% endif %}

<div class="row">
    <div class="col">
        <h3>Projects</h3>
    </div>
</div>

<div class="row pt-3 g-4">

    {% if request.user.is_authenticated %}
    {% if not projects %}
    <p>You don't have any projects yet.</p>
    {% else %}
    {% for project in projects %}

    <div class="col-12 col-md-6 col-xl-4">

        <div class="card border-0 shadow">
            <img class="card-img-top img-cover h-r-30" src="{{ media_url }}{{ project.project_image }}"
                alt="Card image cap">

            <div class="card-body">
                <h5 class="card-title">
                    {{project.name}}
                </h5>

                <div class="row pt-3">
                    <div class="col d-flex justify-content-between">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'projects:details' request.user project.slug %}"
                            class="btn btn-primary">Open</a>

                        {% if project.owner == request.user %}
                        <a class="confirm-delete btn btn-danger"
                            href="{% url 'projects:delete' request.user project.slug %}">
                            Delete
                        </a>
                        {% elif request.user.is_superuser %}
                        <a class="btn btn-danger" href="{% url 'projects:delete' request.user project.slug %}">
                            (Admin) Delete
                        </a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% else %}
    <p>You need to be logged in to be able to manage your projects.</p>
    {% endif %}
</div>
{% endblock %}