{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col">
        <h3>
            New project
        </h3>
    </div>
</div>




<div class="row pt-3">
    <div class="col-12 col-xl-6">
        {% if template %}
        <div class="card shadow border-0">

            <div class="card-body">

                <div class="row">

                    <div class="col">
                        <p>Create a <strong>{{template.name}}</strong> project</p>
                    </div>
                </div>

                <form method="POST">
                    {% csrf_token %}


                    <div class="row pb-3">
                        <div class="col-12">
                            <input type="text" class="form-control" placeholder="Name" id="name" name="name" required>
                        </div>
                        {% if form.name.errors %}
                        <div class="pt-1">
                            {% for error in form.name.errors %}
                            <p class="m-0">{{error|escape}}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <input type="hidden" name="template_id" value="{{template.id}}" id="template_id">

                    <div class="row pb-3">
                        <div class="col-12">
                            <textarea type="text" class="form-control" placeholder="Description" id="description"
                                name="description"></textarea>
                        </div>
                        {% if form.description.errors %}
                        <div class="pt-1">
                            {% for error in form.description.errors %}
                            <p class="m-0">{{error|escape}}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>


                    <div class="row">
                        <div class="d-flex justify-content-end">

                            <a href="/projects/templates" class="btn me-2">Cancel</a>
                            <input type="submit" name="save" value="Create project" class="btn btn-primary ms-2"
                                id="submit-id-save">
                        </div>
                    </div>

                </form>
            </div>
        </div>
        {% else %}
        <div class="alert alert-danger" role="alert">
            Unable to find project template
        </div>

        {% endif %}

    </div>
</div>
{% endblock %}
