[flake8]
max-line-length = 120
extend-ignore =
    # Whitespace before ':'
    E203,
    # imported but unused
    F401,
    # do not use bare 'except'
    E722
exclude =
    migrations
    examples
    __pycache__
    manage.py
    settings.py
    env
    .env
    venv
    .venv
