{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <head>

        <title>{% block title %}Studio{% endblock %}</title>

        {% include 'common/common_head.html' %}

        {% block extra_head %} {% endblock %}
    </head>
</head>

{% include 'common/common_fonts.html' %}

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm bg-white" id="mainNav">
        <div class="container px-5">
            <a class="navbar-brand fw-bold" href="#page-top">
                <img src="{% static 'images/scaleout_black.png' %}" alt="Studio Logo" width="200">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                    <li class="nav-item"><a class="nav-link me-lg-3" href="#discord">Community</a></li>
                </ul>
                {% if request.user.is_authenticated %}
                <a class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" href="{% url 'projects:index' %}">
                    <span class="d-flex align-items-center">
                        <span class="small">Go to studio</span>
                    </span>
                </a>
                {% else %}
                <a class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0 me-1" href="{% url 'common:signup' %}">
                    <span class="d-flex align-items-center">
                        <span class="small">Sign up</span>
                    </span>
                </a>
                <a class="btn btn-outline-dark rounded-pill px-3 mb-2 mb-lg-0" href="{% url 'login' %}">
                    <span class="d-flex align-items-center">
                        <span class="small">Login</span>
                    </span>
                </a>
                {% endif %}
            </div>
        </div>
    </nav>
    <!-- Mashead header-->
    <header class="masthead pt-5">
        <div class="container pt-5">
            <div class="row gx-5 align-items-center py-5">
                <div class="col-12 py-5">
                    <!-- Mashead text and app badges-->
                    <div class="mb-5 mb-lg-0 text-center text-lg-start">
                        <h1 class="display-2 text-secondary lh-1 mb-3">Template landing page</h1>
                        <p class="lead fw-normal text-muted mb-5 fs-3">{% lorem 1 b random %}</p>
                        <a class="btn btn-primary rounded-pill px-3" href="{% url 'common:signup' %}">
                            Free trial
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>

    <!-- Basic features section-->
    <section class="bg-light py-5">
        <div class="container py-5">
            <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                <div class="col-12 col-lg-5">
                    <h2 class="display-4 font-alt lh-1 mb-4">Cloud native FLOps</h2>
                    <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                        Scaleout Studio is a cloud native platform for federated machine learning operations with two
                        main goals:
                        To 1) reduce the technical complexity of secure federated learning for the data scientist,
                        and 2) to scale federated machine learning in production. Your team collaborates in
                        Studio-projects to define the federated model and are then able to add and manage clients and
                        devices in the federation.
                    </p>
                    <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                        Studio is highly customisable, just add the components you need as Helm charts. We collect the
                        leading open source tools for model development,
                        collaboration and model serving, and provide them out of the box with project-level
                        multi-tenancy and object level permissions.
                        Studio runs on any standard Kubernetes cluster, and can be deployed in any public or private
                        cloud and on on-premise hardware. </p>
                </div>
                <div class="col-sm-8 col-md-6">
                    <div class="px-5 px-sm-0"><img class="img-fluid rounded-circle"
                            src="https://source.unsplash.com/u8Jn2rzYIps/900x900" alt="..." /></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Open source section -->
    <section class="bg-white py-5">
        <div class="container py-5">
            <div class="row mb-5 gx-5 align-items-center justify-content-center justify-content-lg-between">
                <div class="col-12 col-lg-5">
                    <h2 class="display-4 font-alt lh-1">FEDn: open source </h2>
                    <h2 class="display-4 font-alt text-secondary lh-1 mb-4">federated learning</h2>
                    <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                        Get started developing FL solutions today using our open source framework FEDn. Develop
                        solutions for computer vision, NLP, fraud detection and more, with world-leading scalability and
                        resilience.
                    </p>
                </div>
            </div>
            <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
                <div class="col-12 col-lg-5">
                    <div class="block-check">
                        <div class="check"><img
                                src="https://uploads-ssl.webflow.com/60b5493c1f3e25677a01e22b/60b61bfdc5a66a0b66f085e5_check.svg"
                                loading="lazy" alt="" class="icon-check"></div>
                        <p class="fw-normal lead mb-5 mb-lg-0">Apache2 with community support in Discord. </p>
                    </div>
                    <div class="block-check">
                        <div class="check"><img
                                src="https://uploads-ssl.webflow.com/60b5493c1f3e25677a01e22b/60b61bfdc5a66a0b66f085e5_check.svg"
                                loading="lazy" alt="" class="icon-check"></div>
                        <p class="fw-normal lead mb-5 mb-lg-0">Use Tensorflow, Torch, sklearn, or any machine learning
                            framework.</p>
                    </div>
                    <div class="block-check">
                        <div class="check"><img
                                src="https://uploads-ssl.webflow.com/60b5493c1f3e25677a01e22b/60b61bfdc5a66a0b66f085e5_check.svg"
                                loading="lazy" alt="" class="icon-check"></div>
                        <p class="fw-normal lead mb-5 mb-lg-0">A clear upgrade path to production and SaaS with Scaleout
                            Studio.</p>
                    </div>
                    <div class="text-center">
                        <a href="https://github.com/scaleoutsystems/fedn">
                            <i class="bi-github icon-feature d-block mb-3"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="discord" class="vh-75 bg-dark">
        <div class="container d-flex align-items-center h-100">
            <div class="fs-2">
                <h1 class="text-white">
                    Stop waiting.
                </h1>
                <p class="text-white">
                    Join the conversation.
                </p>
                <div class="pt-3">
                    <iframe src="https://discordapp.com/widget?id=785866875274919946&theme=dark" height="300"
                        allowtransparency="true" frameborder="0"
                        sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                </div>
            </div>
        </div>
    </section>

    {% include 'common/footer.html' %}
</body>

</html>