{% extends 'common/common_base.html' %}

{% block title %}Change Password - STACKn{% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-sm py-5">
  <!-- Main Content Here -->
  <div class="card border-0 shadow p-4">
    <div class="card-body">
      <div class="row">

        <div class="col">
          <h4>
            Change Your Password
          </h4>

          <form method="POST">
            {% csrf_token %}
         
            <div class="row pt-3">
              <div class="col">
                <label class="form-label" for="id_old_password">{{form.old_password.label}}</label>
                <input required class="form-control" type="password" name="old_password" id="id_old_password">
              </div>
            </div>


            <div class="row pt-3">
              <div class="col-12 col-md-6">
                <label class="form-label" for="id_new_password1">{{form.new_password1.label}}</label>
                <input required class="form-control" type="password" name="new_password1" id="id_new_password1">
              </div>
              <div class="col-12 col-md-6">
                <label class="form-label" for="id_new_password2">{{form.new_password2.label}}</label>
                <input required class="form-control" type="password" name="new_password2" id="id_new_password2">
              </div>
            </div>

            <div class="row pt-3">
              <div class="col">

                {{form.new_password1.help_text}}
              </div>
            </div>
            <!-- old_password -->

            <button type="submit" class="btn btn-success">Change</button>

            <a class="btn btn-warning" href="/">
              Cancel
            </a>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}