{% extends 'common/common_base.html' %}

{% block title %}Reset Password{% endblock %}

{% load static %}

{% block content %}

<div class="container">
  <div class="card shadow-lg my-5">
    <div class="card-body">
      <div class="p-3">

        <div class="row">
          <div class="col d-flex justify-content-center">
            <img src="{% static 'images/logo.png' %}" alt="STACKn Logo" width="200">
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <h2 class="text-dark mb-4">Reset Password</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="row justify-content-md-center">

              <div class="col-12 col-md-6">
                {% if validlink %}

                <form method="POST">
                  {% csrf_token %}

                  <div class="row pb-3">
                    <div class="col-12 col-md-6 pb-3 pb-md-0">
                      <label for="new_password1">New password</label>

                      <input placeholder="Password" class="form-control" type="password" name="new_password1"
                        id="new_password1">
                    </div>
                    <div class="col-12 col-md-6 pb-3 pb-md-0">
                      <label for="new_password2">New password confirmation</label>

                      <input placeholder="Confirm" class="form-control" type="password" name="new_password2"
                        id="new_password2">
                    </div>

                    {% if form.new_password2.errors %}
                    <div class="pt-1">
                      {% for error in form.new_password2.errors %}
                      <p class="m-0">{{error|escape}}</p>
                      {% endfor %}
                    </div>
                    {% endif %}
                  </div>

                  <div class="row">
                    <div class="col d-md-flex flex-md-row-reverse">
                      <input type="submit" name="save" value="Change password"
                        class="btn btn-primary ms-md-2 col-12 col-md-auto" id="submit-id-save">
                      <a href="/" class="btn col-12 col-md-auto me-md-2 mt-2 mt-md-0">Cancel</a>
                    </div>
                  </div>
                </form>
                {% else %}
                <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                  password reset.</p>
                <a class="btn btn-primary" href="{% url 'login' %}">Go to Login</a><br>
                {% endif %}
              </div>

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
{% endblock content %}