{% extends 'common/common_base.html' %}
{% block title %}Reset Password{% endblock %}

{% load static %}

{% block content %}

<div class="container">
  <div class="card shadow-lg my-5">
    <div class="card-body">

      <div class="p-3">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <img src="{% static 'images/scaleout.png' %}" alt="STACKn Logo" width="200">
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <h2 class="text-dark mb-4">Reset Password</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row justify-content-md-center">
              <div class="col-12 col-md-6">
                <form method="POST">
                  {% csrf_token %}
                  <div class="form-group pb-3">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                      name="email" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">Enter your e-mail address to obtain a new
                      password.</small>
                  </div>

                  <div class="row">
                    <div class="col d-md-flex flex-md-row-reverse">
                      <input type="submit" name="save" value="Send e-mail" class="btn btn-primary ms-md-2 col-12 col-md-auto"
                        id="submit-id-save">
                      <a href="/" class="btn col-12 col-md-auto me-md-2 mt-2 mt-md-0">Cancel</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock content %}