{% load i18n %}{% autoescape off %}
{% blocktrans %}Hey, You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}
{% load get_setting %}


{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{% get_setting "EMAIL_TEMPLATE_PROTOCOL" %}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% blocktrans %}The Scaleout Systems Team{% endblocktrans %}

{% endautoescape %}
