{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid p-0">

  <div class="row">
      <div class="card flex-fill">
          <div class="card-header">
              <div class="d-flex justify-content-center">
                <img src="{% static 'images/stackn.png' %}" alt="STACKn Logo" width="15%" >
              </div>
          </div>

          <div class="card-body">
                <div class="row" style="margin-top: 30px; font-size: medium;">
                    <p>Short paragraph about STACKn </p>
                </div>

                <div class="row g-4 py-4 row-cols-1 row-cols-lg-3">
                        <div class="feature col">
                            <h4>Title</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="feature col">
                            <h4>Title</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="feature col">
                            <h4>Title</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                </div>

                <div class="row">
                    <h3>Title</h3>
                    <p style="font-size:medium;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

                    <h3>Title</h3>
                    <p style="font-size:medium;">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <h3>Questions?</h3>
                    <p style="font-size:medium;">The <a href="https://www.scaleoutsystems.com/company">team behind STACKn</a> is happy to answer your questions and receive feedback, drop us a line to contact@scaleoutsystems.com</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}