{% extends 'base.html' %}

{% block title %}Overview{% endblock %}
{% load static %}
{% load custom_tags %}
{% block content %}

    <div class="row">
        <div class="col">
            <h3 class="mb-3" style="margin-right: 5px;">
                Apps
                {% if published_apps|length > 0 %}
                <small>{{ published_apps|length }}</small>
                {% endif %}

            </h3>

            <div>
                {% for tf in request.session.app_tag_filters %}
                <div class="tag tag-list"><a class="tag-list-ico fas fa-times" style="color: #fffafa;"
                        href="{% url 'portal:index' %}?tf_remove={{ tf | urlencode }}"></a><span style="font-weight: 500;">{{ tf
                        }}</span></div>
                {% endfor %}
            </div>
        </div>
    </div>
<div class="row pt-3 g-4">
    {% for app in published_apps %}
    <div class="col-12 col-md-6 col-lg-6 col-xl-4">
        <div class="card h-100 border-0 shadow">

            <div style="height:350px;" class="align-items-center d-flex justify-content-center p-2">

                {% static 'images/logos/apps/' as static_url %}

                <img width="200" class="img-fluid img-cover" src="{{static_url}}{{app.app.slug}}-logo.png"
                    alt="Card image cap">
            </div>
            <div class="card-body px-4 pt-2">
                <h3 class="card-header bg-white">
                    {{ app.name }}
                </h3>
                <div>
                    {% if request.session.app_tags|exists:app.id %}
                    {% with app.tags|split:"," as tags %}
                    {% for tag in tags %}
                    <a class="tag {% if tag in request.session.app_tag_filters%}disabled{% endif %}"
                        href="{% url 'portal:index' %}?tf_add={{ tag | urlencode }}">
                        <div class="tag-ico fas fa-tag fa-sm"></div><span>{{ tag }}</span>
                    </a>
                    {% endfor %}
                    <a href="{% url 'portal:index' %}?app_id_remove={{ app.id | urlencode }}&tag_count={{ tags.count | urlencode }}"
                        style="display: inline-flex;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-circle tag-count">
                            -
                        </button>
                    </a>
                    {% endwith %}
                    {% else %}
                    {% with app.tags|split:"," as tags %}
                    {% with tags|count_str as tag_limit %}
                    {% for tag in tags|slice:tag_limit %}
                    <a class="tag {% if tag in request.session.app_tag_filters%}disabled{% endif %}"
                        href="{% url 'portal:index' %}?tf_add={{ tag | urlencode }}">
                        <div class="tag-ico fas fa-tag fa-sm "></div><span>{{ tag }}</span>
                    </a>
                    {% endfor %}
                    {% if tags.count > tag_limit %}
                    <a href="{% url 'portal:index' %}?app_id_add={{ app.id | urlencode }}&tag_count={{ tags.count | urlencode }}"
                        style="display: inline-flex;">
                        {% csrf_token %}
                        <button style="font-weight: 600;" type="submit" class="btn btn-light tag-count">+{{
                            tags.count|subtract:tag_limit }}</button>
                    </a>
                    {% endif %}
                    {% endwith %}
                    {% endwith %}
                    {% endif %}
                </div>
                <!-- <p>Some text here</p> -->
                <div class="row pt-3">
                    <div class="col">

                        <a href="{{ app.table_field.url }}" target="_blank" class="btn btn-primary">Open</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
