{% extends base_template %}
{% load custom_tags %}
{% block content %}
<h1 class="h3 mb-3">Model Details</h1>

<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">{{ model.name }}</h5>
                <p>{{ model.description }}</p>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-4 col-xxl-3">Project</dt>
                    <dd class="col-8 col-xxl-9">
                        {{ model.project.name }}
                    </dd>
                    <dt class="col-4 col-xxl-3 mb-0">Project Owner</dt>
                    <dd class="col-8 col-xxl-9 mb-0">
                        {{ model.project.owner }}
                    </dd>
                </dl>
                <hr>
                <dl class="row">
                    <dt class="col-4 col-xxl-3">Version</dt>
                    <dd class="col-8 col-xxl-9">
                        <p class="mb-1">{{ model.version }}</p>
                    </dd>
                    <dt class="col-4 col-xxl-3 mb-0">Uploaded</dt>
                    <dd class="col-8 col-xxl-9 mb-0">
                        <p class="mb-0">{{ model.uploaded_at }}</p>
                    </dd>
                </dl>
                {% if request.user and request.user.is_authenticated and request.user == model.project.owner or request.user.is_superuser %}
                <hr>
                <form method="POST" autocomplete="off" action="{% if private  %}{% url 'models:add_tag_private' request.user project.slug model.id %}{% else %}{% url 'models:add_tag' published_model.id model.id %}{% endif %}">
                    {% csrf_token %}

                    <div class="mb-3 row">
                        <dt class="col-4 col-xxl-3 mb-0">Add Tag</dt>
                        <dd class="col-4 col-xxl-9 mb-0">
                            {% if user.is_superuser %}
                            <input id="id_access" placeholder="Add Tag ..." type="text" name="tag" required class="form-control tag-form" list="add_tags" />
                            <datalist id="add_tags">
                                {% for tag in all_tags %}
                                <option value="{{ tag }}">{{ tag }}</option>
                                {% endfor %}
                            </datalist>
                            {% else %}
                            <select id="id_access_add" type="text" name="tag" required class="search-select-tag form-select tag-form">
                                <option></option>
                                {% for tag in all_tags %}
                                <option value="{{ tag }}">{{ tag }}</option>
                                {% endfor %}
                            </select>
                            {% endif %}
                            <button type="submit" class="btn btn-info btn-sm">
                                <i class="fas fa-save"></i>
                                Add
                            </button>
                        </dd>
                    </div>
                </form>
                <dl class="row">
                    <dt class="col-4 col-xxl-3 mb-0">Tags</dt>
                    <dd class="col-8 col-xxl-9 mb-0">
                        <div>
                        {% with model.tags|split:"," as tags %}
                        {% for tag in tags %}
                        <!-- <span class="tag tag-model-details">{{ tag }}</span> -->
                        <form  style="display: inline-flex;" method="POST" action="{% if private  %}{% url 'models:remove_tag_private' request.user project.slug model.id %}{% else %}{% url 'models:remove_tag' published_model.id model.id %}{% endif %}">
                            {% csrf_token %}
                        <div  class="tag tag-list tag-model-details"><button class="tag-list-ico fas fa-times" style="color: #fffafa;" type="submit" name="tag" value="{{ tag }}"></button><span style="font-weight: 500;">{{ tag }}</span></div>
                        </form>
                        {% endfor %}
                        {% endwith %}

                        {% if model.tags.count == 0 %}
                        <span>None</span>
                        {% endif %}
                    </div>
                    </dd>
                </dl>
                {% endif%}
                <hr>
                <a href="{{ media_url }}{{ latest_model_obj.obj }}">Download</a>
            </div>
        </div>

        <div class="card">
            {% if model.model_card %}
            <div class="card-header">
                <h5 class="card-title mb-0">Model Card</h5>
            </div>
            <div class="card-body">
                {{ model.model_card | safe }}
            </div>
            {% else %}
            <div class="card-body">
                <p>No model card available.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}