{% extends 'base.html' %}

{% block content %}
<h1 class="h3 mb-3">Models</h1>

<div class="row">

    {% if not models %}
    <p>No publicly published services available.</p>
    {% endif %}

    {% for model in models %}
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card">

            <div class="card-header px-4 pt-4">
                <div class="card-actions float-end">
                    <div class="dropdown show">
                        <a href="#" data-bs-toggle="dropdown" data-display="static">
                            <i class="align-middle" data-feather="more-horizontal"></i>
                        </a>
                        {% if request.user.is_authenticated %}
                        {% if model.project.owner == request.user or request.user in model.project.authorized.all %}
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item"
                                href="{% url 'models:details' request.user model.project.slug model.id %}">View model
                                card</a>
                        </div>
                        {% else %}
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="{% url 'models:details_public' model.id %}">View model
                                card</a>
                        </div>
                        {% endif %}
                        {% else %}
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="{% url 'oidc_authentication_init' %}">View model card</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <h5 class="card-title mb-0">{{ model.name }}</h5>
                <div
                    class="badge {% if model.status == 'CR' %}bg-warning{% elif model.status == 'DP' %}bg-success{% elif model.status == 'AR' %}bg-danger{% endif %} my-2">
                    {{ model.get_status_display }}</div>
            </div>
            <div class="card-body px-4 pt-2">
                <p>{{ model.description }}</p>
                <p>Uploaded at {{ model.uploaded_at }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
