{% extends 'baseproject.html' %}
{% load staticfiles %}
{% block content %}
<div class="col-md-9">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h2>{{ model.name }}</h2>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab"
                aria-controls="details" aria-selected="true">Model Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="deployments-tab" data-toggle="tab" href="#deployments" role="tab"
                aria-controls="deployments" aria-selected="false">Deployments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="reports-tab" data-toggle="tab" href="#reports" role="tab" aria-controls="profile"
                aria-selected="false">Metrics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="logs-tab" data-toggle="tab" href="#logs" role="tab" aria-controls="logs"
                aria-selected="false">Logs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="graphics-tab" data-toggle="tab" href="#graphics" role="tab" aria-controls="graphics"
                aria-selected="false">Performance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="readme-tab" data-toggle="tab" href="#readme" role="tab" aria-controls="readme"
                aria-selected="false">README.md</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent" style="padding: 10px; margin: 15px;">
        <div class="tab-pane fade active show" id="details" role="tabpanel" aria-labelledby="details-tab">
            <div class="d-flex bd-highlight mb-3 col-md-6">
                <div class="p-2 bd-highlight" style="font-weight: bold;">
                    Project
                </div>
                <div class="ml-auto p-2 bd-highlight">{{ model.project.name }}</div>
            </div>
            <div class="d-flex bd-highlight mb-3 col-md-6">
                <div class="p-2 bd-highlight" style="font-weight: bold;">
                    Project owner
                </div>
                <div class="ml-auto p-2 bd-highlight">{{ model.project.owner.username }}</div>
            </div>
            <div class="d-flex bd-highlight mb-3 col-md-6">
                <div class="p-2 bd-highlight" style="font-weight: bold;">
                    Uploaded at
                </div>
                <div class="ml-auto p-2 bd-highlight">{{ model.uploaded_at }}</div>
            </div>
            <div class="d-flex bd-highlight mb-3 col-md-6">
                <div class="p-2 bd-highlight" style="font-weight: bold;">
                    version
                </div>
                <div class="ml-auto p-2 bd-highlight">{{ model.version }}</div>
            </div>
            <div class="d-flex bd-highlight mb-3 col-md-6">
                <div class="p-2 bd-highlight" style="font-weight: bold;">
                    Resource URL
                </div>
                <div class="ml-auto p-2 bd-highlight">{{ model.resource }}</div>
            </div>
            <div class="d-flex bd-highlight mb-3 col-md-6">
                <div class="p-2 bd-highlight" style="font-weight: bold;">
                    URL
                </div>
                <div class="ml-auto p-2 bd-highlight">{{ model.url }}</div>
            </div>
            <div class="d-flex bd-highlight mb-3 col-md-6">
                <div class="p-2 bd-highlight" style="font-weight: bold;">
                    Status
                </div>
                <div class="ml-auto p-2 bd-highlight">
                    {% if model.status == 'DP' %}
                    Deployed
                    {% else %}
                    Created
                    {% endif %}
                </div>
            </div>
            <form method="POST" action="{% url 'models:change_access' request.user model.project.slug model.id %}">
                {% csrf_token %}

                <div class="d-flex bd-highlight mb-3 col-md-6">
                    <label for="id_access" class="p-2 bd-highlight" style="font-weight: bold;">
                        Visibility
                    </label>
                    <select id="id_access" type="text" name="access" maxlength="2" required
                        class="ml-auto form-control form-control-sm" style="width: 20%;">
                        <option selected>
                            {% if model.access == 'PR' %}
                            Private
                            {% elif model.access == 'PU' %}
                            Public
                            {% else %}
                            Limited
                            {% endif %}
                        </option>
                        {% for choice in model_access_choices %}
                        {% if choice == 'PR' %}
                        <option value="PR">Private</option>
                        {% elif choice == 'PU' %}
                        <option value="PU">Public</option>
                        {% else %}
                        <option value="LI">Limited</option>
                        {% endif %}
                        {% endfor%}
                    </select>
                </div>
                <div class="d-flex bd-highlight mb-3 col-md-6"
                    style="border-top: 1px solid #dee2e6; padding-top: 20px;">
                    <button type="submit" class="ml-auto btn btn-primary">Save</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="deployments" role="tabpanel" aria-labelledby="profile-tab">
            {% if deployments %}
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Endpoint</th>
                        <th scope="col">Created</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in deployments %}
                    <tr>
                        <th scope="row">{{ d.pk }}</th>
                        <td>{{ d.model.name }}:{{ d.model.version }}</td>
                        <td>https://{{ d.endpoint }}{{ d.path }}{{ d.deployment.path_predict }}</td>
                        <td>{{ d.created_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="col-md-12 d-flex justify-content-center">
                No deployments have been created for this model.
            </div>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="reports" role="tabpanel" aria-labelledby="reports-tab">
            <form method="POST" class="row col-md-7" style="float: right;padding-right: 0px;margin-bottom: 30px;">
                {% csrf_token %}

                <select class="col-md-8 form-control" type="text" name="generator_file" maxlength="100" required=""
                    id="id_generator_file">
                    <option value="">--</option>
                    {% for g in report_generators %}
                    <option value="{{ g.id }}">{{ g.generator }} - {{ g.created_at }}</option>
                    {% endfor %}
                </select>

                <button type="submit" class="btn btn-outline-primary col-md-3" style="margin-left: 10px;">
                    Generate new
                </button>
            </form>
            {% if report_dtos %}
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%">Id</th>
                        <th scope="col" style="width: 40%">Description</th>
                        <th scope="col" style="width: 20%">Created</th>
                        <th scope="col" style="width: 30%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for report in report_dtos %}
                    <tr>
                        <th scope="row">{{ report.id }}</th>
                        <td>{{ report.description }}</td>
                        <td>{{ report.created_at }}</td>
                        <td>
                            <a href="{% url 'reports:visualize' request.user project.slug report.id %}">
                                <button id="report" class="btn btn-sm btn-outline-secondary">View</button>
                            </a>
                            <a href="{{ report.filename }}" download="">
                                <button id="download" class="btn btn-sm btn-outline-secondary">Download</button>
                            </a>
                            <a href="{% url 'reports:delete_report' request.user project.slug report.id %}">
                                <button id="delete" class="btn btn-sm btn-outline-warning">Delete</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="col-md-12 d-flex justify-content-center">
                No metrics available for this model.
            </div>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="logs" role="tabpanel" aria-labelledby="logs-tab"
            style="overflow-y: scroll; height:80%;">
            {% if model_logs %}
            <div class="get-started-header">
                <p>
                    Here you can investigate the details about each experiment that has been conducted with "{{model.name }} {{ model.version }}".
                    Each experiment is tagged with a unique ID, date for when it was conducted, the user who initiated
                    the experiment, general info and logged metadata. The information here enables tracking of model lineage and reproducibility of experiments. This
                    enhances collaboration and reuse of models.
                </p>
                <p>
                    The logs in the list are ordered by date and time, with the most recent experiment showing at the
                    top of the list. Also note that the ID of each experiment is shown in truncated form; click on "Show
                    info" to see the complete ID together with other relevant details.
                </p>
            </div>
            <table class="table table-hover border-bottom" style="margin-top:30px;">
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center">ID</th>
                        <th scope="col" style="text-align: center">Created</th>
                        <th scope="col" style="text-align: center">Initiated by</th>
                        <th scope="col" style="text-align: center">General info</th>
                        <th scope="col" style="text-align: center">Metadata</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in model_logs reversed %}
                    <tr>
                        <td style="text-align: center">{{ log.run_id|truncatechars:15 }}</td>
                        <td style="text-align: center">{{ log.training_started_at }}</td>
                        <td style="text-align: center">{{ model.project.owner }}</td>
                        <td style="text-align: center"><a href data-toggle="modal"
                                data-target="#logModal{{log.id}}">Show info</a></td>
                        <td style="text-align: center">
                            {% if log.metadata_exists %}
                            <a href data-toggle="modal" data-target="#mdModal{{log.id}}">Show
                                metadata</a>
                            {% else %}
                            --
                            {% endif %}
                        </td>
                        <div class="modal fade" id="logModal{{log.id}}" tabindex="-1" role="dialog"
                            aria-labelledby="logModalLabel{{log.id}}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" style="border:#000000 2px solid; background-color: #f1f8ff;">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="logModalLabel{{log.id}}">
                                            General Information
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <b>Unique ID:</b> {{ log.run_id }}
                                    </div>
                                    <div class="modal-body">
                                        <b>Date for experiment:</b> {{ log.training_started_at }}
                                    </div>
                                    <div class="modal-body">
                                        {% if log.training_status == 'DO' %}
                                        <b>Execution time:</b>
                                        {% else %}
                                        <b>Time passed before failure:</b>
                                        {% endif %} {{ log.execution_time }}
                                    </div>
                                    <div class="modal-body">
                                        <b>Git repo:</b> {{ log.current_git_repo }}
                                    </div>
                                    <div class="modal-body">
                                        <b>Git commit:</b> {{ log.latest_git_commit }}
                                    </div>
                                    <div class="modal-body">
                                        <div style="float:left;">
                                            <b>System info:</b>
                                            <ul>
                                                {% for key, value in log.system_details.items %}
                                                <li>{{ key }}: {{ value }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div style="float:left;margin-left:50px;">
                                            <b>CPU info:</b>
                                            <ul>
                                                {% for key, value in log.cpu_details.items %}
                                                <li>{{ key }}: {{ value }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            style="background-color:#007bff; border-color:#007bff">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="mdModal{{log.id}}" tabindex="-1" role="dialog"
                            aria-labelledby="mdModalLabel{{log.id}}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" style="border:#000000 2px solid; background-color: #f1f8ff;">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="mdModalLabel{{log.id}}">
                                            Metadata
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <b>Parameters: </b>
                                        {% if log.params %}
                                        <ul>
                                            {% for key, value in log.params.items %}
                                            <li>{{ key }}: {{ value }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% else %}
                                        N/A
                                        {% endif %}
                                    </div>
                                    <div class="modal-body">
                                        <b>Metrics: </b>
                                        {% if log.metrics %}
                                        <ul>
                                            {% for key, value in log.metrics.items %}
                                            <li>{{ key }}: {{ value }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% else %}
                                        N/A
                                        {% endif %}
                                    </div>
                                    <div class="modal-body">
                                        <b>Model details: </b>
                                        {% if log.model_details %}
                                        <ul>
                                            {% for key, value in log.model_details.items %}
                                            <li>{{ key }}: {{ value }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% else %}
                                        N/A
                                        {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            style="background-color:#007bff; border-color:#007bff">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="col-md-12 d-flex justify-content-center">
                No logs exist for {{ model.name }}; train the model to see log output.
            </div>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="graphics" role="tabpanel" aria-labelledby="graphics-tab">
            <div class="get-started-header">
                <p>
                    Here you can select metrics that have been logged during model training and plot them to see how
                    they have changed over time. Select the metric you are interested in using the drop down list to the
                    right below this box. The vertical lines represent timestamps for the release date of your deployed
                    versions of model {{ model.name }}.
                </p>
                <p>
                    Hover over a data point to see date and time, ID, the precise metric value, and logged
                    parameters for the run that corresponds to the data point.
                </p>
            </div>
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <div class="col-sm-8">
                    <h4>Active performance metric: <text id="active"></text></h4>
                </div>
                <div class="col-sm-4">
                    <label for="metricList">Choose a metric:</label>
                    <select id="metricList" class="col-md-6 form-control" type="text" maxlength="100" required="">
                        <option value="">---------</option>
                        {% for metric in metrics %}
                        <option value="{{metric.details}}">{{ metric.metric }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div style="margin-top:50px;">
                <canvas id="metricChart"
                    data-url="{% url 'models:metric-chart' request.user model.project.slug model.id %}" width=50
                    height=20></canvas>
            </div>
            <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
            <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
            <script>
                moment().format();
                var metricChart;
                const verticalLinePlugin = {
                    getLinePosition: function (chart, versionInfo) {
                        const meta = chart.getDatasetMeta(3);
                        const data = meta.data;
                        return data[versionInfo]._model.x;
                    },
                    renderVerticalLine: function (chartInstance, versionInfo) {
                        const lineLeftOffset = this.getLinePosition(chartInstance, versionInfo[0]);
                        const scale = chartInstance.scales['y-axis-0'];
                        const context = chartInstance.chart.ctx;

                        context.beginPath();
                        context.strokeStyle = '#000080';
                        context.lineWidth = 2;
                        context.moveTo(lineLeftOffset, scale.top);
                        context.lineTo(lineLeftOffset, scale.bottom);
                        context.stroke();

                        context.fillStyle = "#000000";
                        context.textAlign = 'center';
                        context.fillText('Version release: ' + versionInfo[1], lineLeftOffset, (scale.bottom - scale.top) / 2 + scale.top);
                    },
                    afterDatasetsDraw: function (chart, easing) {
                        if (chart.config.lineAtIndex) {
                            chart.config.lineAtIndex.forEach(versionInfo => this.renderVerticalLine(chart, versionInfo));
                        }
                    }
                };
                Chart.plugins.register(verticalLinePlugin);

                $(function () {
                    var $metricChart = $("#metricChart");
                    $.ajax({
                        url: $metricChart.data("url"),
                        success: function (data) {
                            var ctx = $metricChart[0].getContext("2d");
                            var versionDates = [];
                            var versionLocs = [];
                            for (i = 0; i < data.dates.length; i++) {
                                datePoint = {
                                    x: moment(data.dates[i])
                                };
                                versionDates.push(datePoint);
                                versionLocs.push([i, data.version[i]]);
                            };
                            metricChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: [],
                                    datasets: [
                                        {
                                            label: '',
                                            fill: false,
                                            borderColor: '#5CB3FF',
                                            pointBorderColor: "#5CB3FF",
                                            pointBackgroundColor: "#5CB3FF",
                                            pointBorderWidth: 1,
                                            pointHoverRadius: 5,
                                            pointHoverBorderWidth: 2,
                                            pointRadius: 3,
                                            pointHitRadius: 10,
                                            data: []
                                        },
                                        {
                                            data: []
                                        },
                                        {
                                            data: []
                                        },
                                        {
                                            data: versionDates
                                        }
                                    ]
                                },
                                options: {
                                    responsive: true,
                                    legend: {
                                        display: false,
                                        position: 'top',
                                    },
                                    title: {
                                        display: false,
                                        text: 'Metric'
                                    },
                                    tooltips: {
                                        enabled: true,
                                        mode: 'single',
                                        callbacks: {
                                            label: function (tooltipItems, data) {
                                                var multistringText = ['  ' + data.datasets[0].label + ': ' + tooltipItems.yLabel];
                                                multistringText.push('  ID: ' + data.datasets[1].data[tooltipItems.index]);
                                                const params = Object.entries(data.datasets[2].data[tooltipItems.index]);
                                                for (const [param, value] of params) {
                                                    multistringText.push(`  ${param}: ${value}`);
                                                };
                                                return multistringText;
                                            }
                                        }
                                    },
                                    scales: {
                                        yAxes: [{
                                            scaleLabel: {
                                                display: true,
                                                fontStyle: "bold",
                                                labelString: ''
                                            }
                                        }],
                                        xAxes: [{
                                            type: 'time',
                                            distribution: 'series',
                                            time: {
                                                unit: 'day',
                                                displayFormats: {
                                                    minute: 'h:mm a'
                                                },
                                            },
                                            scaleLabel: {
                                                display: true,
                                                fontStyle: "bold",
                                                labelString: 'Time'
                                            }
                                        }]
                                    }
                                },
                                lineAtIndex: versionLocs
                            })
                        }
                    })
                });

                function updateChart() {
                    var str = element.value;
                    var text = element.options[element.selectedIndex].text;
                    if (str) {
                        var chartData = [];
                        var obj = eval("(" + str + ")");
                        document.getElementById("active").innerHTML = text;
                        metricChart.options.scales.yAxes[0].scaleLabel.labelString = text;
                        metricChart.data.datasets[0].label = text;
                        for (i = 0; i < obj.data.length; i++) {
                            var date = obj.dates[i]
                            date = date.replace(/\//g, '-').replace(",", "");
                            var dataPoint = {
                                x: moment(date),
                                y: obj.data[i]
                            };
                            chartData.push(dataPoint);
                        }
                        metricChart.data.datasets[0].data = chartData;
                        metricChart.data.datasets[1].data = obj.run_id;
                        metricChart.data.datasets[2].data = obj.params;
                        metricChart.update();
                    } else {
                        document.getElementById("active").innerHTML = "None";
                        metricChart.options.scales.yAxes[0].scaleLabel.labelString = "";
                        metricChart.data.datasets[0].data = [];
                        metricChart.data.datasets[1].data = [];
                        metricChart.data.datasets[2].data = [];
                        metricChart.update();
                    }
                };
                var element = document.getElementById("metricList");
                element.onchange = updateChart;

                window.onbeforeunload = function () {
                    metricChart.destroy();
                };
            </script>
        </div>
        <div class="tab-pane fade" id="readme" role="tabpanel" aria-labelledby="readme-tab">
            {% if not readme %}
            <div class="col-md-12 d-flex justify-content-center">
                No README.md file available for this model.
            </div>
            {% else %}
            <div class="col-sm-10">
                <h4>
                    {{ filename }}
                </h4>
                <div class="readme-box">
                    {{ readme | safe }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}