{% extends 'baseproject.html' %}

{% block content %}
<div class="col-md-9">
    <nav aria-label="breadcrumb" class="project-breadcrumb-nav">
        <ol class="breadcrumb project-breadcrumb-ol">
            <li class="breadcrumb-item"><a href="{% url 'projects:index' %}">Projects</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
        </ol>
    </nav>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Model</h2>
    </div>

    <div style="min-height:400px;">
        <form method="post">
            {% csrf_token %}

            <p>Are you sure you want to delete permanently {{ model.name }}:{{ model.version }} ?</p>
            <input type="submit" class="btn btn-primary" value="Confirm">
        </form>
    </div>
</div>
{% endblock %}
