{% extends base_template %}

{% block content %}
<h1 class="h3 mb-3">Model Details</h1>

<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">{{ model.name }}</h5>
                <p>{{ model.description }}</p>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-4 col-xxl-3">Project</dt>
                    <dd class="col-8 col-xxl-9">
                        {{ model.project.name }}
                    </dd>
                    <dt class="col-4 col-xxl-3 mb-0">Project Owner</dt>
                    <dd class="col-8 col-xxl-9 mb-0">
                        {{ model.project.owner }}
                    </dd>
                </dl>
                <hr>
                <dl class="row">
                    <dt class="col-4 col-xxl-3">Version</dt>
                    <dd class="col-8 col-xxl-9">
                        <p class="mb-1">{{ model.version }}</p>
                    </dd>
                    <dt class="col-4 col-xxl-3 mb-0">Uploaded</dt>
                    <dd class="col-8 col-xxl-9 mb-0">
                        <p class="mb-0">{{ model.uploaded_at }}</p>
                    </dd>
                </dl>
                <hr>
                <a href="{{ media_url }}{{ latest_model_obj.obj }}">Download</a>
            </div>
        </div>
        
        <div class="card">
            {% if model.model_card %}
            <div class="card-header">
                <h5 class="card-title mb-0">Model Card</h5>
            </div>
            <div class="card-body">
            {{ model.model_card | safe }}
            </div>
            {% else %}
            <div class="card-body">
                <p>No model card available.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
