{% extends 'baseproject.html' %}

{% block content %}

<div class="row">
    <div class="card flex-fill">
        <div class="card-header">
        </div>
        {% if models %}
        <div id="datatables-dashboard-projects_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-sm-12">
                    <table id="table-{{ object_type.slug }}" class="table">
                        <thead>
                            <tr role="row">
                                <th>Type</th>
                                <th>Name</th>
                                <th>Current Version</th>
                                <th>Created</th>
                                <th>Status</th>
                                <th>User</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for model in models %}
                            <tr role="row" class="odd">
                                <td>{{ model.object_type.all.first.name }}</td>
                                <td>
                                    <a href="{% url 'models:details_private' request.user project.slug model.id %}">
                                        {{ model.name }}
                                    </a>
                                </td>
                                <td>{{ model.version }}</td>
                                <td>{{ model.uploaded_at }}</td>
                                <td><span class="badge 
                                    {% if model.status == 'CR' %}bg-warning
                                    {% elif model.status == 'DP' %}bg-success
                                    {% elif model.status == 'AR' %}bg-danger
                                    {% endif %}">{{ model.get_status_display }}</span></td>
                                <td>{{ project.owner }}</td>
                                <td>
                                    {% if model.access != "PU" %}
                                    <a href="{% url 'models:publish_model' request.user project.slug model.id %}">Publish</a>
                                    {% else %}
                                    <a href="{% url 'models:unpublish_model' request.user project.slug model.id %}">Unpublish</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% else %}
        <p style="margin-left: 25px;">No Objects have been uploaded to this project yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
