{% extends is_authorized|yesno:"baseproject.html,base.html" %}
{% block extra_head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
    <div class="{% if is_authorized %} col-md-9 {% else %} col-md-11 {% endif %}">
        {% if is_authorized %}
        <nav aria-label="breadcrumb" class="project-breadcrumb-nav">
            <ol class="breadcrumb project-breadcrumb-ol">
                <li class="breadcrumb-item"><a href="{% url 'projects:index' %}">Projects</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
            </ol>
        </nav>
        {% endif %}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2>Deployments</h2>
        </div>
        {% if messsages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    Message{{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="table-responsive">

            <table class="table table-striped table-sm">
                <thead>

                <tr>
                    <th>Model</th>
                    <th>Tag</th>
                    <th>Environment</th>
                    <th>Endpoint</th>
                    {% if authorized_as %}
                        <th>Definition</th>
                        <th>Actions</th>
                    {% endif %}
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for deploy in deployments %}
                    <tr>
                        <td>{{ deploy.model.name }}</td>
                        <td>{{ deploy.model.tag }}</td>
                        <td>{{ deploy.deployment.name }}</td>
                        <td>https://{{ deploy.endpoint }}{{ deploy.path }}{{ deploy.deployment.path_predict }}</td>
                        {% if authorized_as %}
                            <td>{{ deploy.definition }}</td>
                            <td>
                                <button class="btn btn-sm btn-secondary" id="monitor{{ deploy.id }}">Monitor</button>
                                <button class="btn btn-sm btn-secondary" id="log{{ deploy.id }}">Log</button>
                                <button class="btn btn-sm btn-warning" id="undeploy{{ deploy.id }}">Undeploy</button>
                                CPU: 3%
                                MEMORY: 100Mb
                                DISK: 100Mb
                                Called: 10k times
                                Callrate: 5 calls/sec
                            </td>
                        {% endif %}
                        <td><a href="{% url 'deployments:serve_settings' project.slug deploy.id %}">Settings</a></td>
                        <td><a href="{% url 'deployments:predict' project.slug deploy.id %}">Predict</a></td>
                    </tr>
                    {% if is_authorized %}
                        <script>
                            $(document).ready(function () {
                                $("#undeploy{{deploy.id}}").click(function () {
                                    $.get("{% url 'deployments:undeploy' deploy.id %}", function (data, status) {

                                    });
                                });
                            });
                        </script>
                    {% endif %}

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
