apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.20.0 ()
  creationTimestamp: null
  labels:
    io.kompose.service: {{ .Release.Name }}-minio
  name: {{ .Release.Name }}-minio
spec:
  type: {{ .Values.service.type }}
  ports:
  - name: "9000"
    port: 9000
    targetPort: 9000
    {{- with .Values.service }}
    nodePort: {{ .minio }}
    {{- end }}
  selector:
    io.kompose.service: {{ .Release.Name }}-minio
status:
  loadBalancer: {}
