apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: {{ .Release.Name }}-project-files
  name: {{ .Release.Name }}-project-files
spec:
  accessModes:
  - ReadWriteMany
  storageClassName: {{ .Values.storageClassName | default "hostpath" }}
  resources:
    requests:
      storage: {{ .Values.volume.size }}
status: {}
