body{
    font-family: 'Manrope', serif;
}

:root{
    font-family: 'Manrope', var(--bs-font-sans-serif);
    font-weight: 400;
    font-size: .825rem;
    line-height: 1.625;
}

.ghost-number {
    margin-right: 10px;
    margin-right: 20px;
    margin-left: 5px;
    margin-top: 0.5px;
    color: #9ca3af;
    background: #f0f8ff00;
    border-color: #f0f8ff00;
}
