{% extends 'common/common_base.html' %}

{% block title %}Change Password{% endblock %}

{% load crispy_forms_tags %} 

{% block content %}
    <!-- Begin Page Content -->
    <div class="container">
        <!-- Main Content Here -->
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Password Changed</h1>
                  </div>
                  <div class="text-center">
                    <p>Your password has been changed successfully!</p>
                    <a class="btn btn-primary" href="{% url 'projects:index' %}">Go to dashboard</a>
                    <hr >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}
