{% extends 'common/common_base.html' %}

{% block title %}Reset Password{% endblock %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container">
        <!-- Main Content Here -->
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center mb-1">
                    <img src="{% static 'images/stackn.png' %}" alt="STACKn Logo" width="200" >
                  </div>
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Reset Your Password</h1>
                  </div>
                  <div class="text-center">
                    <p>Enter your e-mail address to obtain a new password.</p>
                  </div>
                  <!-- Built-In Login Logout -->
                  <form method="POST">
                    {% csrf_token %}
                    {{form | crispy}}
                    <button type="submit" class="btn btn-success btn-block">Send e-mail</button>
                    <button type="submit" class="btn btn-warning btn-block" onclick="window.location='{% url 'common:welcome' %}' ; return false;" value="Cancel">
                        Cancel
                    </button>
                  </form>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}
