{% extends 'common/common_base.html' %}

{% block title %}Reset Password{% endblock %}

{% block extra_head %}
    <meta http-equiv="refresh" content="5;url={% url 'common:welcome' %}" />
{% endblock %}

{% load crispy_forms_tags %} 

{% block content %}
    <!-- Begin Page Content -->
    <div class="container">
        <!-- Main Content Here -->
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Reset Password Completed</h1>
                  </div>
                    <h3>Your password has been set.</h3>
                    <a class="btn btn-primary" href="{% url 'login' %}">Go to Login</a>
                    <hr >
                    <p>(You will be automatically redirected to the welcome page.)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}
