{% extends 'projects/base.html' %}
{% load static %}
{% load can_create_app %}

{% block content %}
<div class="card shadow border-0">
    <div class="card-header bg-white py-3">
        <h5 class="card-title mb-0">{{ cat_obj.name }}</h5>
    </div>

    {% include 'app_table.html' %}

</div>

<div class="row g-4 py-5">
    {% for app in apps %}
    <div class="col-12 col-lg-6 col-xl-4">
        <div class="card shadow border-0 h-100">
            <div class="card-body">
                <div class="row g-0 w-100 h-100">
                    <div class="col-8  d-flex align-items-bottom flex-column">
                        <div class="pt-2">
                            <h3>{{ app.name }}</h3>
                        </div>
                        <div class="align-items-end d-flex h-100">

                            <div>

                                <div class="row">
                                    <div class="col">
                                        <p>{{ app.description }}</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col">
                                            {% can_create_app request.user project app as can_create %}

                                            {% if can_create %}
                                            <a class="btn btn-primary"
                                                href="{% url 'apps:create' request.user project.slug app.slug  %}">Create</a>
                                            {% else %}
                                            <button class="btn btn-secondary" style="cursor: default;"
                                                data-bs-toggle="tooltip" data-bs-placement="top"
                                                data-bs-title="Max number of apps reached">
                                                Create
                                            </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-4">

                        {% static 'images/logos/apps/' as static_url %}
                        <img src="{{static_url}}{{app.logo|default:'default-logo.png'}}" class="img-fluid float-end"
                            style="height:100px;" alt="App Logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<script>
    {
        const apps = JSON.parse("{{ app_ids|escapejs }}")
        const body = new FormData()
        body.append("apps", apps)

        const url = "{% url 'apps:get_status' request.user project.slug %}"
        const csrftoken = getCookie('csrftoken');

        const updateStatus = async () => {

            const response = await fetch(url, {
                method: "POST",
                headers: {
                    'Accept': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body
            })

            const json = await response.json()

            for (const key in json) {
                if (Object.hasOwnProperty.call(json, key)) {

                    const { status, statusGroup } = json[key]
                    const querySelector = `#status-${key} > span`
                    const element = document.querySelector(querySelector)
                    const className = `badge bg-${statusGroup}`

                    element.className = className
                    element.innerText = status
                }
            }
        }

        const loop = async () => {

            if ((apps?.length ?? 0) > 0) {

                await updateStatus()

                setTimeout(() => {
                    loop()
                }, 5000)
            }
        }

        loop()
    }
</script>

{% endblock %}