{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-md-11">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Lab Sessions</h2>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <table class="table studio-table">
                    <thead class="studio-table-header">
                        <tr>
                            <th scope="col">UID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Project</th>
                            <th scope="col">Owner</th>
                            <th scope="col">Status</th>
                            <th scope="col">Created</th>
                            <th scope="col">Updated</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lab in objects %}
                        <tr>
                            <th scope="row">{{ lab.id }}</th>
                            <th scope="row">{{ lab.name }}</th>
                            <th scope="row">{{ lab.project.name }}</th>
                            <th scope="row">{{ lab.lab_session_owner }}</th>
                            <th scope="row">{{ lab.status }}</th>
                            <th scope="row">{{ lab.created_at }}</th>
                            <th scope="row">{{ lab.updated_at }}</th>
                            <td class="studio-table-actions-column">
                                <span>
                                    <a href="#" class="studio-table-a" data-toggle="modal"
                                        data-target="#labSessionModal">
                                        <img class="studio-table-icon" src="/static/icons/pencil-square.svg"
                                            alt="pencil">
                                        View
                                    </a>
                                </span>
                                <!-- Modal -->
                                <div class="modal fade" id="labSessionModal" tabindex="-1" role="dialog"
                                    aria-labelledby="labSessionModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="labSessionModalLabel">{{ lab.name }}</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table studio-table">
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">Owner</th>
                                                            <th scope="row" class="studio-table-actions-column">...
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Flavor</th>
                                                            <th scope="row" class="studio-table-actions-column">...
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">CPU limit</th>
                                                            <th scope="row" class="studio-table-actions-column">...
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">CPU request</th>
                                                            <th scope="row" class="studio-table-actions-column">...
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Memory limit</th>
                                                            <th scope="row" class="studio-table-actions-column">...
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Memory request</th>
                                                            <th scope="row" class="studio-table-actions-column">...
                                                            </th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-light"
                                                    data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-danger">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span>
                                    <a href="#" class="studio-table-a">
                                        <img class="studio-table-icon" src="/static/icons/trash.svg" alt="pencil">
                                        Remove
                                    </a>
                                </span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}