{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-md-11">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Projects</h2>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <table class="table studio-table">
                    <thead class="studio-table-header">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Slug</th>
                            <th scope="col">Owner</th>
                            <th scope="col">Created</th>
                            <th scope="col">Updated</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proj in objects %}
                        <tr>
                            <th scope="row">{{ proj.name }}</th>
                            <th scope="row">{{ proj.slug }}</th>
                            <th scope="row">{{ proj.owner.username }}</th>
                            <th scope="row">{{ proj.created_at }}</th>
                            <th scope="row">{{ proj.updated_at }}</th>
                            <td class="studio-table-actions-column">
                                <span>
                                    <a href="#" class="studio-table-a" data-toggle="modal" data-target="#projectModal">
                                        <img class="studio-table-icon" src="/static/icons/pencil-square.svg"
                                            alt="pencil">
                                        View
                                    </a>
                                </span>
                                <!-- Modal -->
                                <div class="modal fade" id="projectModal" tabindex="-1" role="dialog"
                                    aria-labelledby="projectModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="projectModalLabel">{{ proj.name }}</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="studio-modal-table-header">Labs</div>
                                                <table class="table studio-table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col"></th>
                                                            <th scope="col" class="studio-table-actions-column">
                                                                Requests</th>
                                                            <th scope="col" class="studio-table-actions-column">
                                                                Limits</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">CPU</th>
                                                            <th scope="row" class="studio-table-actions-column">
                                                                {{ projects_resources|get_resource_value:proj.slug|addstr:",lab,requests,cpu_cores" }}
                                                            </th>
                                                            <th scope="row" class="studio-table-actions-column">
                                                                {{ projects_resources|get_resource_value:proj.slug|addstr:",lab,limits,cpu_cores" }}
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Memory</th>
                                                            <th scope="row" class="studio-table-actions-column">
                                                                {{ projects_resources|get_resource_value:proj.slug|addstr:",lab,requests,memory_bytes" }}
                                                            </th>
                                                            <th scope="row" class="studio-table-actions-column">
                                                                {{ projects_resources|get_resource_value:proj.slug|addstr:",lab,limits,memory_bytes" }}
                                                            </th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="studio-modal-table-header">Deployments</div>
                                                <table class="table studio-table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col"></th>
                                                            <th scope="col" class="studio-table-actions-column">
                                                                Requests</th>
                                                            <th scope="col" class="studio-table-actions-column">
                                                                Limits</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">CPU</th>
                                                            <th scope="row" class="studio-table-actions-column">
                                                                {{ projects_resources|get_resource_value:proj.slug|addstr:",deployment,requests,cpu_cores" }}
                                                            </th>
                                                            <th scope="row" class="studio-table-actions-column">
                                                                {{ projects_resources|get_resource_value:proj.slug|addstr:",deployment,limits,cpu_cores" }}
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Memory</th>
                                                            <th scope="row" class="studio-table-actions-column">
                                                                {{ projects_resources|get_resource_value:proj.slug|addstr:",deployment,requests,memory_bytes" }}
                                                            </th>
                                                            <th scope="row" class="studio-table-actions-column">
                                                                {{ projects_resources|get_resource_value:proj.slug|addstr:",deployment,limits,memory_bytes" }}
                                                            </th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="studio-modal-table-header">Total</div>
                                                <table class="table studio-table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col"></th>
                                                            <th scope="col" class="studio-table-actions-column">
                                                                Requests</th>
                                                            <th scope="col" class="studio-table-actions-column">
                                                                Limits</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">CPU</th>
                                                            <th scope="row" class="studio-table-actions-column">
                                                                {{ projects_resources|get_resource_value:proj.slug|addstr:",total_cpu_req" }}
                                                            </th>
                                                            <th scope="row" class="studio-table-actions-column">
                                                                {{ projects_resources|get_resource_value:proj.slug|addstr:",total_cpu" }}
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Memory</th>
                                                            <th scope="row" class="studio-table-actions-column">
                                                                {{ projects_resources|get_resource_value:proj.slug|addstr:",total_mem_req" }}
                                                            </th>
                                                            <th scope="row" class="studio-table-actions-column">
                                                                {{ projects_resources|get_resource_value:proj.slug|addstr:",total_mem" }}
                                                            </th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-light"
                                                    data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-danger">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span>
                                    <a href="#" class="studio-table-a">
                                        <img class="studio-table-icon" src="/static/icons/trash.svg" alt="pencil">
                                        Remove
                                    </a>
                                </span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}