{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-md-11">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Studio administration</h2>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <table class="table studio-table">
                    <thead class="studio-table-header">
                        <tr>
                            <th scope="col">Deployments</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Definitions</th>
                            <td class="studio-table-actions-column">
                                <span>
                                    <a href="#">
                                        <img class="studio-table-icon" src="{% static '/icons/pencil.svg' %}"
                                            alt="pencil">
                                        Change
                                    </a>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Instances</th>
                            <td class="studio-table-actions-column">
                                <span>
                                    <a href="#">
                                        <img class="studio-table-icon" src="{% static '/icons/pencil.svg' %}"
                                            alt="pencil">
                                        Change
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table studio-table">
                    <thead class="studio-table-header">
                        <tr>
                            <th scope="col">Labs</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Sessions</th>
                            <td class="studio-table-actions-column">
                                <span>
                                    <a href="#">
                                        <img class="studio-table-icon" src="{% static '/icons/pencil.svg' %}"
                                            alt="pencil">
                                        Change
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table studio-table">
                    <thead class="studio-table-header">
                        <tr>
                            <th scope="col">Models</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Models</th>
                            <td class="studio-table-actions-column">
                                <span>
                                    <a href="#">
                                        <img class="studio-table-icon" src="{% static '/icons/pencil.svg' %}"
                                            alt="pencil">
                                        Change
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table studio-table">
                    <thead class="studio-table-header">
                        <tr>
                            <th scope="col">Projects</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Projects</th>
                            <td class="studio-table-actions-column">
                                <span>
                                    <a href="#">
                                        <img class="studio-table-icon" src="{% static '/icons/pencil.svg' %}"
                                            alt="pencil">
                                        Change
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2 recent-actions">
                <h4 class="recent-actions-h4">
                    Recent actions
                </h4>
                <h6 class="recent-actions-h6">
                    My actions
                </h6>
                <div id="activity_logs">
                    <ul class="timeline">
                        {% for log in activity_logs %}
                        <li>
                            <a target="_blank" href="#">{{ log.headline }}</a>
                            <p>{{ log.description }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
