{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-md-11">
    <div><h2>Studio administration</h2></div>
    {% if request.user.is_superuser %}
    <div class="row">
        <div class="card flex-fill">
            <div class="card-header">
            </div>
            {% if projects %}
            <div id="datatables-dashboard-projects_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="table-{{ object_type.slug }}" class="table">
                            <thead>
                                <tr role="row">
                                    <th>Name</th>
                                    <th>Owner</th>
                                    <th>Created</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                <tr role="row" class="odd">
                                    <td>{{ project.name }}</td>
                                    <td>{{ project.owner }}</td>
                                    <td>{{ project.created_at }}</td>
                                    <td>{{ project.status }}</td>
                                    <td>
                                        <a href="{% url 'studio_admin:delete_project' project.slug %}">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% else %}
            <p style="margin-left: 25px;">No active projects.</p>
            {% endif %}
        </div>
    </div>
    {% else %}
    <p>{{ request.user }} is not authorized.</p>
    {% endif %}
    
{% endblock %}
