{% extends "base.html" %}

{% block content %}
<div class="col-md-11">
    <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
        <div class="col-md-4" style="text-align: center;">
            <h2>Logged out</h2>

            <p class="lead text-muted">Login again to get access to the Scaleout Platform.</p>

            <p>
                <a href="{% url 'login' %}" class="btn btn-primary my-2">Click here to sign in again.</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
