{% extends "base.html" %}
{% load static %}
{% block extra_head %}
    <style>

        .form-centered {
            position: fixed;
            top: 40%;
            left: 45%;
            width: 250px;
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-5">

    </div>
    <div class="d-flex align-content-center">
        <div class="col-md-3 container">
               <form class="text-center" style="width:300px;" method="post" action="{% url 'login' %}">
                <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
                {% csrf_token %}
                <table>
                    <tr>
                        {% if form.errors %}
                            <p>Your username and password didn't match. Please try again.</p>
                        {% endif %}

                        {% if next %}
                            {% if user.is_authenticated %}
                                <p>Your account doesn't have access to this page. To proceed,
                                    please login with an account that has access.</p>
                            {% else %}
                                <p>Please login to see this page.</p>
                            {% endif %}
                        {% endif %}
                    </tr>
                    <tr>
                        <input type="text" id="id_username" name="username" class="mb-4 form-control"
                               placeholder="Username" required="yes" autofocus="">

                    </tr>

                    <tr>
                        <input type="password" id="id_password" name="password" class=" mb-4 form-control"
                               placeholder="Password" required="yes" autofocus="">

                    </tr>
                </table>


                <button class="btn btn-lg btn-primary btn-block mb-4" type="submit" value="login">Sign in</button>
                <div class="checkbox mb-3">
                    <input class="" type="hidden" name="next" value="{{ next }}"/>
                    <p class=""><a href="{% url 'password_reset' %}">Lost password?</a></p>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
