{% extends "base.html" %}

{% block content %}
<div class="col-md-11" style="padding-top: 15px;">
    <div style="height: 100%;">
        <div class="col-md-4">
            <h3 style="margin-bottom: 16px;">
                Forgot password
            </h3>
            <form method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label for="id_email">E-mail address</label>
                    <input type="email" name="email" maxlength="254" required="" id="id_email"
                           class="form-control" aria-describedby="emailHelp" placeholder="Enter your e-mail">
                    <small id="emailHelp" class="form-text text-muted">We'll send instructions about how to change
                    your password to your e-mail address.</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
