{% extends "base.html" %}

{% block content %}
<div class="col-md-11" style="padding-top: 15px;">
    {% if validlink %}
    <h3>Change password</h3>
    <form method="post" class="col-md-6">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_new_password1">New password:</label>
            <input type="password" name="new_password1" required="" id="id_new_password1" class="form-control">
            <span class="helptext"></span>
        </div>
        <ul>
            <li>Your password can't be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can't be a commonly used password.</li>
            <li>Your password can't be entirely numeric.</li>
        </ul>
        <p></p>
        <div class="form-group">
            <label for="id_new_password2">New password confirmation:</label>
            <input type="password" name="new_password2" required="" id="id_new_password2" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Change password</button>
    </form>
    {% else %}
    <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
    </p>
    {% endif %}
</div>
{% endblock %}
