{% extends 'common/common_base.html' %}

{% block title %}Sign Up - STACKn{% endblock %}

{% load static %}

{% block content %}
<div class="container">
    <div class="card border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-xs-12 col-lg-8 offset-lg-2">
                    <div class="px-3 py-5">
                        <div class="row">
                            <div class="col col-lg-6 offset-lg-3">
                                <img src="{% static 'images/scaleout_black.png' %}" alt="Studio Logo" style="max-width: 100%; height: auto;">
                            </div>
                        </div>
                        <div class="pt-5">
                            <div class="row">
                                <div class="col">
                                    <h5>Create an Account</h5>
                                </div>
                            </div>
                        </div>

                        <div class="mw-30 m-auto pt-1">
                            <form method="post">

                                {% if form.errors|length > 0 %}
                                <p>Form invalid</p>
                                {% endif %}

                                {% csrf_token %}
                                <div class="row pb-3">
                                    <div class="col-12">
                                        {{form.username}}
                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col-12">
                                        {{form.email}}
                                    </div>
                                    {% if form.email.errors %}

                                    {% for key, key_errors in form.errors.as_data.items %}
                                    {% if key == 'email' %}
                                    {% for error in key_errors %}
                                    {% if error.code != 'unique'%}
                                    <div class="pt-1">
                                        {{error.message}}
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="row pb-3">
                                    <div class="col-12 col-md-6 pb-3 pb-md-0">
                                        {{form.first_name}}
                                    </div>
                                    <div class="col-12 col-md-6 pb-3 pb-md-0">
                                        {{form.last_name}}
                                    </div>

                                    {% if form.first_name.errors %}
                                    <div class="pt-1">
                                        {% for error in form.first_name.errors %}
                                        <p class="m-0">{{error|escape}}</p>
                                        {% endfor %}
                                    </div>
                                    {% endif %}

                                    {% if form.last_name.errors %}
                                    <div class="pt-1">
                                        {% for error in form.last_name.errors %}
                                        <p class="m-0">{{error|escape}}</p>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>

                                <div class="row pb-3">
                                    <div class="col-12 col-md-6 pb-3 pb-md-0">
                                        {{form.password1}}
                                    </div>
                                    <div class="col-12 col-md-6 pb-3 pb-md-0">
                                        {{form.password2}}
                                    </div>

                                    {% if form.password2.errors %}
                                    <div class="pt-1">
                                        {% for error in form.password2.errors %}
                                        <p class="m-0">{{error|escape}}</p>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>

                                <div class="row">
                                    <div class="d-flex justify-content-end">

                                        <a href="/" class="btn me-2">Cancel</a>
                                        <input type="submit" name="save" value="Submit" class="btn btn-primary ms-2"
                                            id="submit-id-save">
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                        <hr>

                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col"><a href="{% url 'password_reset' %}">Forgot Password?</a></div>
                                </div>
                                <div class="row">
                                    <div class="col"><a href="{% url 'login' %}">Already have an account? Login here</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}