{% extends 'baseproject.html' %}
{% block content %}
    <div class="col-md-10">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h3>Workflow</h3>
            <!--<div class="btn-toolbar mb-2 mb-md-0">
            <a href="{% url 'workflows:workflows_definition_add' %}">
                <button id="create" class="btn btn-large btn-primary">Add template</button>
            </a>
        </div>-->
        </div>
        {% if messsages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    Message{{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="container-fluid">
            <form action="{% url 'workflows:workflows_run' request.user project.slug %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="runWorkflow">Run workflow</label>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="runWorkflow"
                           placeholder="Enter job name">
                    <small id="runWorkflow" class="form-text text-muted">Enter a unique job name</small>
                </div>
                <div class="form-group">
                    <label for="runWorkflow">Parameters</label>
                    <div class="input-group">
                        <div class="input-group-text">Param 1</div>
                    <input type="text" class="form-control" id="param1" name="param1" aria-describedby="param1"
                           placeholder="Param 1">
                        </div>
                    <div class="input-group">
                        <div class="input-group-text">Param 2</div>
                    <input type="text" class="form-control" id="param2" name="param2" aria-describedby="param2"
                           placeholder="Param 2">
                        </div>
                    <div class="input-group">
                        <div class="input-group-text">Param 3</div>
                    <input type="text" class="form-control" id="param3" name="param3" aria-describedby="param3"
                           placeholder="Param 3">
                        </div>
                    <small id="runWorkflow" class="form-text text-muted">Fill all required parameter fields marked with *</small>
                </div>
                <input type="hidden" value="{{ project.id }}" name="project">
                <div class="form-group">
                    <input type="hidden" name="status" value="CR">
                    <label for="definition">Workflow</label>
                    <select id="definition" name="workflow" class="form-control">
                        {% for definition in definitions %}
                            <option value="{{ definition.id }}">{{ definition.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="container-fluid" style="margin-top:100px;">
            <h3>Information</h3>
            <div class="col-5" style="margin-bottom:100px;">
                Available workflows to run can be
            </div>
        </div>
        <h3>Instances</h3>
        <div class="divider"></div>
        <div class="table-responsive">

            <table class="table table-striped table-sm">
                <thead>

                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Definition</th>
                    <th>Created</th>
                    <th>Updated</th>
                </tr>
                </thead>
                <tbody>
                {% for instance in instances %}
                    <tr>
                        <td>
                            <a href="{% url 'workflows:workflows_details' request.user project.slug instance.id %}">{{ instance.id }}</a>
                        </td>
                        <td>{{ instance.name }}</td>
                        <td>{{ instance.definition }}</td>
                        <td>{{ instance.created_at }}</td>
                        <td>{{ instance.updated_at }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <h3>Definitions</h3>
        <div class="divider"></div>
        <div class="table-responsive">

            <table class="table table-striped table-sm">
                <thead>

                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Definition</th>
                </tr>
                </thead>
                <tbody>
                {% for definition in definitions %}
                    <tr>
                        <td>
                            <a href="{% url 'workflows:workflows_definition_edit' definition.id %}">{{ definition.id }}</a>
                        </td>
                        <td>{{ definition.name }}</td>
                        <td>{{ definition.definition }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}