# Django Third Party Apps
django>=2.2.24
django-appconf
django-bootstrap-modal-forms
django-celery-beat
django-compressor
django-cors-middleware
django-crispy-forms
django-cryptography
django-filter
django-oauth-toolkit
django-redis
django_plotly_dash
djangorestframework>=3.11.2
django-tagulous
django-yamlfield

# Other Python and project related libraries
amqp
argh
celery
certifi
channels
channels-redis
chardet
dash
dash-bootstrap-components
drf-nested-routers
flatten_json
gunicorn
idna
kubernetes
Markdown
minio
oauthlib
Pillow
psycopg2-binary
pymongo
pyjwt
PyYAML>=5.4
pytz
rcssmin
redis
requests
rjsmin
s3fs
six
social-auth-app-django
sqlparse
urllib3>=1.26.5
vine
watchdog
