minio
certifi
chardet

django>=2.2.20
django-appconf
django-compressor
django-cors-middleware
django-filter
django-oauth-toolkit
djangorestframework>=3.11.2

idna
oauthlib
psycopg2-binary
pytz
rcssmin
requests
rjsmin
six
sqlparse
urllib3>=1.25.8
vine
gitdb2
GitPython
amqp
billiard
celery
kombu
redis
websocket-client
kubernetes
PyYAML>=5.4
django-bootstrap-modal-forms
django-yamlfield
Markdown
mozilla-django-oidc
pyjwt
drf-nested-routers
flatten_json
watchdog
argh
django-celery-beat
django-cryptography
gunicorn