django>=2.2.24
django-appconf
django-compressor
django-cors-middleware
django-filter
django-oauth-toolkit
djangorestframework>=3.11.2
django-bootstrap-modal-forms
django-yamlfield
django-celery-beat
django-cryptography
django-redis
psycopg2-binary
minio
certifi
chardet
idna
oauthlib
pytz
rcssmin
requests
rjsmin
six
sqlparse
urllib3>=1.26.5
vine
amqp
celery
redis
kubernetes
PyYAML>=5.4
Markdown
pyjwt
drf-nested-routers
flatten_json
watchdog
argh
gunicorn
django_plotly_dash
dash
channels
channels-redis
dash-bootstrap-components
pymongo
Pillow
s3fs
django-tagulous