{% extends 'base.html' %}

{% block title %}New project{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <h3>New project</h3>
    </div>
</div>

<div class="row g-4 pt-3">
    {% for template in templates %}

    <div class="col-12 col-lg-6 col-xxl-4">
        <div class="card shadow border-0">
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col">
                                <h3 class="card-title">
                                    {{template.name}}
                                </h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col d-flex align-items-center" style="min-height: 8rem;">
                                <p>
                                    {{template.description}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        {% if template.image %}
                        <img src="{{ media_url }}{{ template.image }}" class="img-fluid float-end" style="height: 100px;"
                            alt="Template Logo">
                        {% else %}
                        {% load static %}
                        <img src="{% static 'images/logo.png' %}" class="img-fluid float-end" style="height: 100px;"
                            alt="Template Logo">
                        {% endif %}
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <a class="btn btn-primary"
                            href="{% url 'projects:create' %}?template={{ template.name | urlencode }}">Create</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
