{% extends 'projects/base.html' %}

{% load crispy_forms_tags %} 

{% block content %}
<h1 class="h3 mb-3">Create Model Object</h1>
<div class="row">
    <div class="col-12 col-xl-6">
        <div class="card">
            <div class="card-body">
                <form action="{% url 'models:create' request.user project.slug %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form | crispy }}

                        <label class="form-label mt-1">Model Type*</label>
                        <select name="model-type" id="model-type" class="form-control" required>
                            {% for object_type in object_types %}
                            <option value="{{ object_type.name }}">{{ object_type.name }}</option> 
                            {% endfor %}
                        </select>

                        <label class="form-label mt-1">App*</label><small> (where the trained models are located)</small>
                        <select name="app" id="app" class="form-control" required>
                            {% for app in apps %}
                            <option value="{{ app.pk }}">{{ app.name }}</option> 
                            {% endfor %}
                        </select>

                        <label class="form-label mt-1">Persistent Volume*</label><small> (mounted to the above app)</small>
                        <select name="volume" id="volume" class="form-control" required>
                            {% for volume in volumes %}
                            <option value="{{ volume.name }}">{{ volume.name }}</option> 
                            {% endfor %}
                        </select>

                    </div>
                    <button class="btn btn-primary" type="submit" value="Submit">Create</button>
                    <button class="btn btn-secondary float-end" type="submit" 
                        onclick="window.location='{{ request.headers.referer }}' ; return false;" value="Cancel">
                        Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}