{% extends 'baseproject.html' %}
{% load static %}
{% block content %}

<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.0.min.js"></script>


<div class="col-md-9">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Monitor</h2>
    </div>
    {% if is_authorized %}
    <div>
      <div class="col-12 col-lg-6">
        <div class="card flex-fill w-100">
          <div class="card-header">
            <h5 class="card-title">Line Chart</h5>
            <h6 class="card-subtitle text-muted">A line chart is a way of plotting data points on a line.</h6>
          </div>
          <div class="card-body">
            <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
              <canvas id="chartjs-line" style="display: block; width: 464px; height: 300px;" width="464" height="300" class="chartjs-render-monitor"></canvas>
            </div>
          </div>
        </div>
      </div>


      <h3>Project Quota</h3>
      <table class="table table-sm">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Limits</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2" style="vertical-align : middle;text-align:center;">Total</td>
            <td>CPU</td>
            <td>100 cores</td>
          </tr>
          <tr>
            <td>Memory</td>
            <td>100 Gi</td>
          </tr>
        </tbody>
      </table>


      <h3>Project Usage</h3>
      <table class="table table-sm">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Requests</th>
            <th>Limits</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2" style="vertical-align : middle;text-align:center;">Labs</td>
            <td>CPU</td>
            <td>{{ resource_status.lab.requests.cpu_cores }}</td>
            <td>{{ resource_status.lab.limits.cpu_cores }}</td>
          </tr>
          <tr>
            <td>Memory</td>
            <td>{{ resource_status.lab.requests.memory_bytes }} Gi</td>
            <td>{{ resource_status.lab.limits.memory_bytes }} Gi</td>
          </tr>
          <tr>
            <td rowspan="2" style="vertical-align : middle;text-align:center;">Deployments</td>
            <td>CPU</td>
            <td>{{ resource_status.deployment.requests.cpu_cores }}</td>
            <td>{{ resource_status.deployment.limits.cpu_cores }}</td>
          </tr>
          <tr>
            <td>Memory</td>
            <td>{{ resource_status.deployment.requests.memory_bytes }} Gi</td>
            <td>{{ resource_status.deployment.limits.memory_bytes }} Gi</td>
          </tr>
          <tr>
            <td rowspan="2" style="vertical-align : middle;text-align:center;">Total</td>
            <td>CPU</td>
            <td>{{ total_cpu_req }}</td>
            <td>{{ total_cpu }}</td>
          </tr>
          <tr>
            <td>Memory</td>
            <td>{{ total_mem_req }}</td>
            <td>{{ total_mem }} Gi</td>
          </tr>
        </tbody>
      </table>

      <h3>Lab Sessions</h3>
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Owner</th>
            <th>Flavor</th>
            <th>CPU limit</th>
            <th>CPU request</th>
            <th>Mem limit</th>
            <th>Mem request</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for lab in lab_list %}
            <tr>
              <td>{{ lab.0 }}</td>
              <td>{{ lab.1 }}</td>
              <td>{{ lab.2 }}</td>
              <td>{{ lab.3 }}</td>
              <td>{{ lab.4 }}</td>
              <td>{{ lab.5 }}</td>
              <td><a href="{% url 'monitor:delete_lab' request.user.username project.slug lab.6 %}">Delete</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <h3>Deployments</h3>
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Owner</th>
            <th>Model</th>
            <th>Version</th>
            <th>CPU limit</th>
            <th>CPU request</th>
            <th>Mem limit</th>
            <th>Mem request</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for dep in dep_list %}
            <tr>
              <td>{{ dep.0 }}</td>
              <td>{{ dep.6 }}</td>
              <td>{{ dep.7 }}</td>
              <td>{{ dep.1 }}</td>
              <td>{{ dep.2 }}</td>
              <td>{{ dep.3 }}</td>
              <td>{{ dep.4 }}</td>
              <td><a href="{% url 'monitor:delete_deployment' request.user.username project.slug dep.5 %}">Delete</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      
            <!-- <div style="height:250; width:400">
              <canvas id="labsCPUChart" data-url="{% url 'monitor:cpuchart' user project.slug 'lab' %}"></canvas>
            </div> -->
            
          
    </div>
    {% else %}
    <div>You don't have permission to access this resource.</div>
    {% endif %}
</div>
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Line chart
    new Chart(document.getElementById("chartjs-line"), {
      type: "line",
      data: {
        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Sales ($)",
          fill: true,
          backgroundColor: "transparent",
          borderColor: window.theme.primary,
          data: [2115, 1562, 1584, 1892, 1487, 2223, 2966, 2448, 2905, 3838, 2917, 3327]
        }, {
          label: "Orders",
          fill: true,
          backgroundColor: "transparent",
          borderColor: window.theme["primary-dark"],
          borderDash: [4, 4],
          data: [958, 724, 629, 883, 915, 1214, 1476, 1212, 1554, 2128, 1466, 1827]
        }]
      },
      options: {
        maintainAspectRatio: false,
        legend: {
          display: false
        },
        tooltips: {
          intersect: false
        },
        hover: {
          intersect: true
        },
        plugins: {
          filler: {
            propagate: false
          }
        },
        scales: {
          xAxes: [{
            reverse: true,
            gridLines: {
              color: "rgba(0,0,0,0.05)"
            }
          }],
          yAxes: [{
            ticks: {
              stepSize: 500
            },
            display: true,
            borderDash: [5, 5],
            gridLines: {
              color: "rgba(0,0,0,0)",
              fontColor: "#fff"
            }
          }]
        }
      }
    });
  });
</script>




<script>

  function cpuchart(chart_id) {

    var $labsCPUChart = $(chart_id);
    $.ajax({
      url: $labsCPUChart.data("url"),
      success: function (data) {

        var ctx = $labsCPUChart[0].getContext("2d");

        new Chart(ctx, {
          type: 'line',
          data: {
            labels: data.labels,
            datasets: [{
              label: 'Total CPU usage',
              backgroundColor: 'blue',
              data: data.data
            }]          
          },
          options: {
            responsive: true,
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'Total CPU usage'
            }
          }
        });

      }
    });

  };

  cpuchart('#labsCPUChart');
  cpuchart('#deploymentsCPUChart');

</script>
{% endblock %}


