{% extends 'baseproject.html' %}
{% load staticfiles %}
{% block content %}

<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.0.min.js"></script>


<div class="col-md-9">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Monitor</h2>
    </div>
    <div>
      <h3>Project Quota</h3>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Limits</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2" style="vertical-align : middle;text-align:center;">Total</td>
            <td>CPU</td>
            <td>100 cores</td>
          </tr>
          <tr>
            <td>Memory</td>
            <td>100 Gi</td>
          </tr>
        </tbody>
      </table>


      <h3>Project Usage</h3>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Requests</th>
            <th>Limits</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2" style="vertical-align : middle;text-align:center;">Labs</td>
            <td>CPU</td>
            <td>{{ resource_status.lab.requests.cpu_cores }}</td>
            <td>{{ resource_status.lab.limits.cpu_cores }}</td>
          </tr>
          <tr>
            <td>Memory</td>
            <td>{{ resource_status.lab.requests.memory_bytes }} Gi</td>
            <td>{{ resource_status.lab.limits.memory_bytes }} Gi</td>
          </tr>
          <tr>
            <td rowspan="2" style="vertical-align : middle;text-align:center;">Deployments</td>
            <td>CPU</td>
            <td>{{ resource_status.deployment.requests.cpu_cores }}</td>
            <td>{{ resource_status.deployment.limits.cpu_cores }}</td>
          </tr>
          <tr>
            <td>Memory</td>
            <td></td>
            <td> Gi</td>
          </tr>
          <tr>
            <td rowspan="2" style="vertical-align : middle;text-align:center;">Total</td>
            <td>CPU</td>
            <td></td>
            <td>{{ total_cpu }}</td>
          </tr>
          <tr>
            <td>Memory</td>
            <td></td>
            <td>{{ total_mem }} Gi</td>
          </tr>
        </tbody>
      </table>
      
            <!-- <div style="height:250; width:400">
              <canvas id="labsCPUChart" data-url="{% url 'monitor:cpuchart' user project.slug 'lab' %}"></canvas>
            </div> -->
            
          
    </div>
</div>
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script>

  function cpuchart(chart_id) {

    var $labsCPUChart = $(chart_id);
    $.ajax({
      url: $labsCPUChart.data("url"),
      success: function (data) {

        var ctx = $labsCPUChart[0].getContext("2d");

        new Chart(ctx, {
          type: 'line',
          data: {
            labels: data.labels,
            datasets: [{
              label: 'Total CPU usage',
              backgroundColor: 'blue',
              data: data.data
            }]          
          },
          options: {
            responsive: true,
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'Total CPU usage'
            }
          }
        });

      }
    });

  };

  cpuchart('#labsCPUChart');
  cpuchart('#deploymentsCPUChart');

</script>
{% endblock %}


