apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-keycloak-proxy-svc
  namespace: {{ .Values.namespace }}
spec:
  ports:
  - port: 80
    targetPort: 9090
    protocol: TCP
  selector:
    app: {{ .Values.appname }}