{% load static %}
{% include 'common/common_fonts.html' %}

<!--
For a discussion about these internal infile styles, see
https://github.com/ScilifelabDataCentre/stackn/pull/41/files#r1254570218
-->
<style>
@font-face {
    font-family: 'Manrope';
    src: url("{% static 'fonts/Manrope-Light.ttf' %}");
    font-weight: 300;
}
@font-face {
    font-family: 'Manrope';
    src: url("{% static 'fonts/Manrope-Regular.ttf' %}");
    font-weight: 400;
}
@font-face {
    font-family: 'Manrope';
    src: url("{% static 'fonts/Manrope-Medium.ttf' %}");
    font-weight: 500;
}
@font-face {
    font-family: 'Manrope';
    src: url("{% static 'fonts/Manrope-Bold.ttf' %}");
    font-weight: bold;
}

hr { margin-bottom: 0; }
.navbar { padding: 0; }
.bg-dark, .bg-light { background-color: rgb(248, 248, 248) !important; }
.nav-link { color: rgb(25, 25, 25); font-family: "Manrope", serif;     font-size: .825rem; line-height: 1.625; }
.py-2 { margin-bottom: 0 !important; padding-bottom: 0 !important; }
#navbarColor02 { background-color: rgb(33, 37, 41); padding: 16px; }
</style>

<div class="bg-light shadow-sm mb-3 py-2">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start p-2">
            <a href="/" class="navbar-brand fs-4 d-flex my-2 my-lg-0 me-lg-auto link-body">
                <img src="{% static 'images/scilifelab_serve_logo.svg' %}" title="SciLifeLab Serve" style="height: 2.2rem;" class="hide-dark align-text-top me-4">
            </a>
            <ul class="nav col-12 col-lg-auto my-2 my-md-0 justify-content-center text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portal:index' %}" target="_self" title="#">
                        Apps
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'models:index' %}" target="_self" title="#">
                        Models
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wiki/" target="_self" title="#">
                        User guide
                    </a>
                </li>


            </ul>
        </div>

    </div>
