{% load static %}

<style>
    @font-face {
        font-family: 'Manrope';
        src: url("{% static 'fonts/Manrope-Light.ttf' %}");
        font-weight: 300;
    }
    @font-face {
        font-family: 'Manrope';
        src: url("{% static 'fonts/Manrope-Regular.ttf' %}");
        font-weight: 400;
    }
    @font-face {
        font-family: 'Manrope';
        src: url("{% static 'fonts/Manrope-Medium.ttf' %}");
        font-weight: 500;
    }
    @font-face {
        font-family: 'Manrope';
        src: url("{% static 'fonts/Manrope-Bold.ttf' %}");
        font-weight: bold;
    }
</style>
