{% load static %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">

<script src="{% static 'js/js-utility.js' %}"></script>

<link href="{% static 'vendor/bootstrap-5.2.3-dist/css/bootstrap.min.css' %}" rel="stylesheet">
<script src="{% static 'vendor/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js' %}"></script>

<link href="{% static 'vendor/icons-1.10.3/font/bootstrap-icons.css' %}" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/colors.css' %}">
<link rel="stylesheet" href="{% static 'css/text.css' %}">
<link rel="stylesheet" href="{% static 'css/utilities.css' %}">
<link rel="stylesheet" href="{% static 'css/elements.css' %}">