{% load get_setting %}

<footer class="shadow px-4 py-5">
    <div class="container-fluid">

        <div class="row">
            <div class="col-6 text-start">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/company/scaleout-systems" class="default" target="_blank">
                            <button class="btn rounded-100 shadow" style="background-color: #0082ca;">
                                <i class="bi bi-linkedin fs-4 text-white"></i>
                            </button>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a
                            href="https://www.youtube.com/channel/UCZVv30LFXMQUOswNDKuQpNA" class="default" target="_blank">
                            <button class="btn rounded-100 shadow" style="background-color: #ed302f;">
                                <i class="bi bi-youtube fs-4 text-white"></i>
                            </button>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/scaleoutsystems" class="default" target="_blank">
                            <button class="btn rounded-100 shadow" style="background-color: #333333;">
                                <i class="bi bi-github fs-4 text-white"></i>
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 text-end">
                <p class="mb-0">
                    &copy; 2020-2021 - <a href="https://scaleoutsystems.com/"
                        target="_blank">Scaleout Systems AB</a>
                </p>
                <p class="mb-0">{% get_setting "VERSION" %}</p>
            </div>
        </div>
    </div>
</footer>