{% load static %}

<nav class="bg-light shadow-sm mb-3 py-2">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start p-2">
            <a href="/" class="navbar-brand fs-4 d-flex my-2 my-lg-0 me-lg-auto link-body">
                <img src="{% static 'images/scilifelab_serve_logo.svg' %}" title="SciLifeLab Serve" style="height: 2.2rem;" class="hide-dark align-text-top me-4">
            </a>
            <ul class="nav col-12 col-lg-auto my-2 my-md-0 justify-content-center text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="fa-solid fa-home d-block mx-auto"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portal:index' %}" target="_self" title="#">
                        Apps
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'models:index' %}" target="_self" title="#">
                        Models
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docs/" target="_self" title="#">
                        User guide
                    </a>
                </li>

                {% if request.user.is_authenticated %}

                <li class="nav-item">
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle"></i> {{request.user.email}}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'projects:index' %}"><i class="bi bi-folder me-1"></i>My projects</a></li>
                      <li><a class="dropdown-item" href="{% url 'password_change' %}"><i class="bi bi-key me-1"></i>Change Password</a></li>
                      <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right me-1"></i>Sign out</a></li>
                    </ul>
                  </div>
                </li>

                {% else %}

                <li class="nav-item mx-2">
                    <a class="btn btn-success" href="{% url 'common:signup' %}">
                        <i class="bi bi-person-plus"></i> Register
                    </a>
                </li>

                <li class="nav-item mx-2">
                    <a class="btn btn-success" href="{% url 'login' %}">
                        <i class="bi bi-box-arrow-in-right"></i> Log in
                    </a>
                </li>

                {% endif %}

            </ul>
        </div>
    </div>
</nav>
