
<ul class="nav flex-column pt-5">
    <li class="nav-item">
        <h6 class="opacity-75 mb-3"><strong>Catalogs</strong></h6>
    </li>
    {% url 'portal:index' as index_portal_url %}
    <li class="nav-item d-flex align-items-center">
        <i class="bi bi-box fs-4"></i>
        <a class="nav-link {% if request.path == index_portal_url %}active{% endif %}"
            href="{{index_portal_url}}">
            Apps
        </a>
    </li>
    {% url 'models:index' as index_models_url %}
    <li class="nav-item d-flex align-items-center">
        <i class="bi bi-layers fs-4"></i>
        <a class="nav-link {% if request.path == index_models_url %}active{% endif %}"
            href="{{index_models_url}}">
            Models
        </a>
    </li>
    {% if request.user.is_authenticated %}
    {% url 'projects:index' as index_projects_url %}
    <li class="nav-item d-flex align-items-center">
        <i class="bi bi-folder fs-4"></i>
        <a class="nav-link {% if request.path == index_projects_url %}active{% endif %}"
            href="{{index_projects_url}}">
            Projects
        </a>
    </li>
    {% endif %}
</ul>
