{% extends 'base.html' %}
{% load static %}
{% block extra_sidebar_items %}

<li class="sidebar-header">
    Project: {{ project.name }}
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="{% url 'projects:details' request.user project.slug %}">
        <i class="bi bi-house fs-4 me-3"></i>
        Dashboard
    </a>
</li>
<li class="sidebar-item {{ menu.objects }}">
    <a class="sidebar-link" href="{% url 'models:list' request.user project.slug %}">
        <i class="bi bi-layers fs-4 me-3"></i>
        Models
    </a>
</li>
<li class="sidebar-item {{ menu.compute }}">
    <a href="{% url 'apps:filtered' request.user project.slug 'compute' %}" class="sidebar-link">
        <i class="bi bi-cpu fs-4 me-3"></i>
        Compute
    </a>
</li>
<li class="sidebar-item {{ menu.serve }}">
    <a href="{% url 'apps:filtered' request.user project.slug 'serve' %}" class="sidebar-link">
        <i class="bi bi-check2-circle fs-4 me-3"></i>
        Serve
    </a>
</li>
<li class="sidebar-item {{ menu.store }}">
    <a href="{% url 'apps:filtered' request.user project.slug 'store' %}" class="sidebar-link">
        <i class="bi bi-database fs-4 me-3"></i>
        Store
    </a>
</li>
<li class="sidebar-item {{ menu.develop }}">
    <a href="{% url 'apps:filtered' request.user project.slug 'develop' %}" class="sidebar-link">
       <i class="bi bi-code fs-4 me-3"></i>
       Develop
    </a>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="{% url 'projects:settings' request.user project.slug %}">
        <i class="bi bi-gear fs-4 me-3"></i>
        Settings
    </a>
</li>
{% endblock %}

{% block extra_topnav_items %}
{% endblock %}
