{% extends 'base.html' %}

{% load static %}
{% block content %}

{% if request.user.is_authenticated %}
<a href="{% url 'projects:project_templates' %}" class="btn btn-primary float-end mt-n1"><i class="fas fa-plus"></i> New project</a>
{% endif %}

<h3 class="mb-3">Projects</h3>

<div class="row">

    {% if request.user.is_authenticated %}
        {% if not projects %}
        <p>You don't have any projects yet.</p>
        {% else %}
        {% for project in projects %}
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-4 mb-4">
            <div class="card">
                <img class="card-img-top img-cover h-r-30" src="{{ media_url }}{{ project.project_image }}" alt="Card image cap">
                <div class="card-header px-4 pt-4">

                    <h3>
                        {{ project.name }}
                    </h3>
                </div>
                <div class="card-body px-4 pt-2">
                    <p>{{ project.description }}</p>
                    <div style="position:absolute;bottom:0.5em;">
                        <h4>
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'projects:details' request.user project.slug %}"><button type="button" class="btn btn-primary">Open</button></a>
                            {% endif %}
                        </h4>
                    </div>
                 </div>
            <div class="card-body px-4 pt-2">

                    <div style="position:absolute;bottom:0.5em;right:1.5em;">
                        <h4>
                            {% if project.owner == request.user %}
                                <a class="confirm-delete" href="{% url 'projects:delete' request.user project.slug %}">
                                    <button type="button" class="btn btn-danger" >Delete</button>
                                </a>
                                {% elif request.user.is_superuser %}
                                <a href="{% url 'projects:delete' request.user project.slug %}">
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmation">(Admin) Delete</button>
                                </a>
                            {% endif %}
                        </h4>
                    </div>
                </div>
                
            </div>
        </div>
        {% endfor %}
        {% endif %}
    {% else %}
    <p>You need to be logged in to be able to manage your projects.</p>
    {% endif %}
</div>
{% endblock %}
