{% extends 'base.html' %}
{% block content %}
<div class="col-md-10">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Deployment Definition Templates</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{% url 'deployments:deployment_definition_add' %}">
                <button id="create" class="btn btn-large btn-primary">Add template</button>
            </a>
        </div>
    </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">
                Message{{ message }}
                </div>
                {% endfor %}
        {% endif %}

    <div class="table-responsive">

        <table class="table table-striped table-sm">
            <thead>

            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Definition</th>
            </tr>
            </thead>
            <tbody>
            {% for definition in definitions %}
            <tr>
                <td><a href="{% url 'deployments:deployment_definition_edit' definition.id%}">{{ definition.id }}</a></td>
                <td>{{ definition.name }}</td>
                <td>{{ definition.definition }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}