{% extends 'base.html' %}
{% block content %}
<div class="col-md-11">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Workflows Template Add</h2>
    </div>
<form action="{% url 'workflows:workflows_definition_add'  %}" method="post">

{% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Workflow Identifier</label>
    <input type="text" class="form-control" id="id_name" name="name" aria-describedby="nameHelp" placeholder="">
    <small id="nameHelp" class="form-text text-muted">Please enter a unique definition identifier</small>
  </div>
  <div class="form-group">
    <label for="id_definition">Workflow Definition</label>
    <textarea class="form-control" name="definition" id="id_definition" rows="8"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}
