{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>{% block title %}{% endblock %} | SciLifeLab Serve</title>

    {% include 'common/common_head.html' %}

    {% block extra_head %} {% endblock %}
</head>

{% include 'common/common_fonts.html' %}

<body>

    {% include 'common/navbar.html' %}

    <div class="d-flex overflow-hidden">

        <div style="min-height: 1rem;" class="shadow-sm">

            <div id="collapseSidebar" class="collapse collapse-horizontal show">
                <div style="width: calc(200px + 3rem)">
                    <div class="d-flex flex-column p-4">
                        <a href="/">
                            <img src="{% static 'images/scaleout_black.png' %}" alt="Studio Logo" width="200">
                        </a>

                        {% include 'common/sidebar_items.html' %}

                        {% block extra_sidebar_items %} {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column min-vh-100 w-100 shadow">

            <main class="flex-grow-1">
                <div class="container-fluid p-0 p-lg-5">
                    {% block content %}{% endblock %}
                </div>
            </main>

        </div>
    </div>

    <div class="modal fade" id="modalConfirmDelete" tabindex="-1" aria-labelledby="modalConfirmDeleteLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalConfirmDeleteLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row py-3">
                        <div id="modalConfirmDeleteBodyIcon"
                            class="col d-flex justify-content-center align-items-center"></div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p id="modalConfirmDeleteBodyText" class="text-center"></p>
                        </div>
                    </div>

                </div>
                <div id="modalConfirmDeleteFooter" class="modal-footer d-flex justify-content-between">
                </div>
            </div>
        </div>
    </div>

    {% include 'common/footer.html' %}

    {% comment %} TODO use custom for each case instead (no need of js) {% endcomment %}
    <script>
        {
            const elements = document.querySelectorAll(".confirm-delete")

            const modal = new bootstrap.Modal(document.getElementById("modalConfirmDelete"), {});
            const modalTitle = document.getElementById("modalConfirmDeleteLabel")
            const modalBodyIcon = document.getElementById("modalConfirmDeleteBodyIcon")
            const modalBodyText = document.getElementById("modalConfirmDeleteBodyText")
            const modalFooter = document.getElementById("modalConfirmDeleteFooter")

            elements.forEach(element => {

                element.addEventListener("click", (e) => {

                    e.preventDefault();

                    removeAllChildNodes(modalBodyIcon)
                    removeAllChildNodes(modalFooter)

                    const { target } = e

                    const title = target.getAttribute("data-title") ?? "Do You Really Want to Delete This?"
                    const text = target.getAttribute("data-text") ?? "Observe that this app might be a dependecy in other app instances!"
                    const icon = target.getAttribute("data-icon") ?? "bi-exclamation-triangle"

                    const href = target.getAttribute("href")

                    modalTitle.innerText = title

                    const iElement = document.createElement("i")
                    iElement.className = `bi ${icon} fs-1`

                    modalBodyIcon.appendChild(iElement)

                    modalBodyText.innerText = text

                    const closeBtnElement = document.createElement("button")
                    closeBtnElement.className = "btn"
                    closeBtnElement.setAttribute("type", "button")
                    closeBtnElement.setAttribute("data-bs-dismiss", "modal")
                    closeBtnElement.innerText = "Close"

                    modalFooter.appendChild(closeBtnElement)

                    const confirmBtnElement = document.createElement("button")
                    confirmBtnElement.classList = "btn btn-danger"
                    confirmBtnElement.setAttribute("type", "button")
                    confirmBtnElement.innerText = "Delete"

                    modalFooter.appendChild(confirmBtnElement)

                    confirmBtnElement.addEventListener("click", () => {
                        location.href = href
                    })

                    modal.show()
                })
            })
        }
    </script>

    {% block extra_scripts %} {% endblock %}

    <!-- Visitor analytics -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(["disableCookies"]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//matomo.dckube.scilifelab.se/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '5']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
        })();
    </script>
</body>

</html>
