{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>{% block title %}STACKn{% endblock %}</title>

    {% include 'common/common_head.html' %}

    {% block extra_head %} {% endblock %}
</head>

{% include 'common/common_fonts.html' %}

<body>

    <nav class="bg-light shadow-sm mb-3 py-2">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start p-2">
                <a href="/" class="navbar-brand fs-4 d-flex my-2 my-lg-0 me-lg-auto link-body">
                    <img src="{% static 'images/scilifelab_serve_logo.svg' %}" title="SciLifeLab Serve" style="height: 2.2rem;" class="hide-dark align-text-top me-4">
                </a>
                <ul class="nav col-12 col-lg-auto my-2 my-md-0 justify-content-center text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="fa-solid fa-home d-block mx-auto"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'portal:index' %}" target="_self" title="#">
                            Apps
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'models:index' %}" target="_self" title="#">
                            Models
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/wiki/" target="_self" title="#">
                            User guide
                        </a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="btn btn-success" href="{% url 'common:signup' %}">
                            <i class="bi bi-person-plus"></i> Register
                        </a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="btn btn-success" href="{% url 'login' %}">
                            <i class="bi bi-box-arrow-in-right"></i> Log in
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <div class="d-flex overflow-hidden">

        <div style="min-height: 1rem;" class="shadow-sm">

            <div id="collapseSidebar" class="collapse collapse-horizontal show">
                <div style="width: calc(200px + 3rem)">
                    <div class="d-flex flex-column p-4">
                        <a href="/">
                            <img src="{% static 'images/scaleout_black.png' %}" alt="Studio Logo" width="200">
                        </a>

                        {% include 'common/sidebar_items.html' %}

                        {% block extra_sidebar_items %} {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column min-vh-100 w-100 shadow">

            {% include 'common/navbar.html' %}

            <main class="flex-grow-1">
                <div class="container-fluid p-0 p-lg-5">
                    {% block content %}{% endblock %}
                </div>
            </main>

            {% include 'common/footer.html' %}

        </div>
    </div>

    <div class="modal fade" id="modalConfirmDelete" tabindex="-1" aria-labelledby="modalConfirmDeleteLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalConfirmDeleteLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row py-3">
                        <div id="modalConfirmDeleteBodyIcon"
                            class="col d-flex justify-content-center align-items-center"></div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p id="modalConfirmDeleteBodyText" class="text-center"></p>
                        </div>
                    </div>

                </div>
                <div id="modalConfirmDeleteFooter" class="modal-footer d-flex justify-content-between">
                </div>
            </div>
        </div>
    </div>

    <div class="footer border-top bg-light text-muted small pt-4">
        <div class="container">
        <div class="row pb-2">
                <div class="col-lg-2">
                    <ul class="list-unstyled">
                        <li><a href="">Home</a></li>
                        <li><a href="">Public apps</a></li>
                        <li><a href="">Public models</a></li>
                        <li><a href="">User guide</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">User support</a></li>
                        <li><a href="">Privacy policy</a></li>
                    </ul>

                </div>
                <div class="col-lg-6">
                    <p>SciLifeLab Serve is developed and operated by the <a href="https://scilifelab.se/data" target="_blank" class="text-muted">SciLifeLab Data Centre</a>. SciLifeLab Serve is free to use for all life science researchers affiliated with a Swedish research institution and their collaborators. The service is based on an  <a href="#" class="text-muted">open source platform</a> working on top of a Kubernetes cluster.</p>
                    <p>Please email serve@scilifelab.se with any questions.</p>
                </div>
                <div class="col-8 col-md-6 col-lg-4">
                    <div class="row">
                        <div class="col">
                            <p>Supported by:</p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col"><img class="img-fluid" src="{% static 'images/scilifelab_logo.png' %}" alt="SciLifeLab"></div>
                        <div class="col"><img class="img-fluid" src="{% static 'images/ssf_logo.png' %}" alt="Swedish Foundation for Strategic Research"></div>
                        <div class="col"><img class="img-fluid" src="{% static 'images/kaw_logo.png' %}" alt="Knut and Alice Wallenberg Foundation"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %} TODO use custom for each case instead (no need of js) {% endcomment %}
    <script>
        {
            const elements = document.querySelectorAll(".confirm-delete")

            const modal = new bootstrap.Modal(document.getElementById("modalConfirmDelete"), {});
            const modalTitle = document.getElementById("modalConfirmDeleteLabel")
            const modalBodyIcon = document.getElementById("modalConfirmDeleteBodyIcon")
            const modalBodyText = document.getElementById("modalConfirmDeleteBodyText")
            const modalFooter = document.getElementById("modalConfirmDeleteFooter")

            elements.forEach(element => {

                element.addEventListener("click", (e) => {

                    e.preventDefault();

                    removeAllChildNodes(modalBodyIcon)
                    removeAllChildNodes(modalFooter)

                    const { target } = e

                    const title = target.getAttribute("data-title") ?? "Do You Really Want to Delete This?"
                    const text = target.getAttribute("data-text") ?? "Observe that this app might be a dependecy in other app instances!"
                    const icon = target.getAttribute("data-icon") ?? "bi-exclamation-triangle"

                    const href = target.getAttribute("href")

                    modalTitle.innerText = title

                    const iElement = document.createElement("i")
                    iElement.className = `bi ${icon} fs-1`

                    modalBodyIcon.appendChild(iElement)

                    modalBodyText.innerText = text

                    const closeBtnElement = document.createElement("button")
                    closeBtnElement.className = "btn"
                    closeBtnElement.setAttribute("type", "button")
                    closeBtnElement.setAttribute("data-bs-dismiss", "modal")
                    closeBtnElement.innerText = "Close"

                    modalFooter.appendChild(closeBtnElement)

                    const confirmBtnElement = document.createElement("button")
                    confirmBtnElement.classList = "btn btn-danger"
                    confirmBtnElement.setAttribute("type", "button")
                    confirmBtnElement.innerText = "Delete"

                    modalFooter.appendChild(confirmBtnElement)

                    confirmBtnElement.addEventListener("click", () => {
                        location.href = href
                    })

                    modal.show()
                })
            })
        }
    </script>

    {% block extra_scripts %} {% endblock %}
</body>

</html>
