{% extends 'baseproject.html' %}

{% block content %}

<div class="col-md-9">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Files</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="input-group sb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">HTTPS</span>
                </div>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                       value="https://platform.demo.scaleout.se/repos/{{user}}/{{project.slug}}.git">
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Path</th>
            <th scope="col">Size</th>
            <th scope="col">Created</th>
            <th scope="col">Last changed</th>
        </tr>
        </thead>
        <tbody>
        {% for dir in dirs %}
        <tr>
            <td><b>{{ dir.name }}</b></td>
            <td><b>{{ dir.path }}</b></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
        {% for file in files %}
        <tr>
            <td>{{ file.name }}</td>
            <td>{{ file.path }}</td>
            <td>{{ file.size }}</td>
            <td>{{ file.created }}</td>
            <td>{{ file.modified }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
