{% load static %}
<table id="{{ cat_obj.slug }}" class="table">
  <thead>
      <tr> 
          <th></th>
          <th>App</th>
          <th>Name</th>
          <th></th>
          <th>State</th>
          <th>Created</th>
          <th></th>
          <th></th>
      </tr>
  </thead>
  <tbody>
    {% for appinstance in appinstances %}
    <tr>
        <td><img src="{{ media_url }}{{ appinstance.app.logo_file }}" class="img-fluid " style="max-height:25px;"></td>
        <td>{{ appinstance.app.name }}</td>
        <td>{{ appinstance.name }}</td>
        {% if appinstance.table_field.url %}
        <td><a href="{{ appinstance.table_field.url }}" target="_blank">Open</a></td>
        {% else %}
        <td></td>
        {% endif %}
        {% if appinstance.status.latest.status_type in status_success %}
        <td id="status-{{ appinstance.pk }}"><span class="badge bg-success">{{ appinstance.status.latest.status_type }}</span></td>
        {% elif appinstance.status.latest.status_type in status_warning %}
        <td id="status-{{ appinstance.pk }}"><span class="badge bg-warning">{{ appinstance.status.latest.status_type }}</span></td>
        {% else %}
        <td id="status-{{ appinstance.pk }}"><span class="badge bg-danger">{{ appinstance.status.latest.status_type }}</span></td>
        {% endif %}
        <td>{{ appinstance.created_on }}</td>
        <td class="table-action">
          <a href="{% url 'apps:logs' request.user project.slug appinstance.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder align-middle"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg></a>
          <a href="{% url 'apps:appsettings' request.user project.slug appinstance.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 align-middle"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a>
          {% if appinstance.app.category.name != 'Compute' or request.user.is_superuser %}
          <a href="{% url 'apps:delete' request.user project.slug category appinstance.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash align-middle"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a>
          {% endif %}
        </td>
        <td>
          {% if appinstance.app.settings.publishable == "true" %}
            {% if appinstance.access == "public" %}
            <a href="{% url 'apps:publish' request.user project.slug category appinstance.pk %}">Unpublish</a>
            {% else %}
            <a href="{% url 'apps:publish' request.user project.slug category appinstance.pk %}">Publish</a>
            {% endif %}
          {% endif %}
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>