{% load static %}
<table id="{{ cat_obj.slug }}" class="table">
  <thead>
      <tr>
          <th></th>
          <th>App</th>
          <th>Name</th>
          <th></th>
          <th>State</th>
          <th>Created</th>
          <th></th>
          <th></th>
      </tr>
  </thead>
  <tbody>
    {% for appinstance in appinstances %}
    <tr>
        <td><img src="{{ media_url }}{{ appinstance.app.logo_file }}" class="img-fluid " style="max-height:25px;"></td>
        <td>{{ appinstance.app.name }}</td>
        <td>{{ appinstance.name }}</td>
        {% if appinstance.table_field.url %}
        <td><a href="{{ appinstance.table_field.url }}" target="_blank">Open</a></td>
        {% else %}
        <td></td>
        {% endif %}
        {% if appinstance.status.latest.status_type in status_success %}
        <td id="status-{{ appinstance.pk }}"><span class="badge bg-success">{{ appinstance.status.latest.status_type }}</span></td>
        {% elif appinstance.status.latest.status_type in status_warning %}
        <td id="status-{{ appinstance.pk }}"><span class="badge bg-warning">{{ appinstance.status.latest.status_type }}</span></td>
        {% else %}
        <td id="status-{{ appinstance.pk }}"><span class="badge bg-danger">{{ appinstance.status.latest.status_type }}</span></td>
        {% endif %}
        <td>{{ appinstance.created_on }}</td>
        <td class="table-action">
          <a title="Update" href="{% url 'apps:appsettings' request.user project.slug appinstance.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
              <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
              <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
            </svg></a>
          <a title="Edit" href="{% url 'apps:appsettings' request.user project.slug appinstance.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
              <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
            </svg></a>
          <a title="View logs" href="{% url 'apps:logs' request.user project.slug appinstance.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-journals" viewBox="0 0 16 16">
            <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z"/>
            <path d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z"/>
          </svg></a>
          {% if appinstance.app.category.name != 'Compute' or request.user.is_superuser %}
          <a title="Delete" href="#" data-bs-href="{% url 'apps:delete' request.user project.slug category appinstance.pk %}" data-bs-toggle="modal" data-bs-target="#confirm-delete"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg></a>
          {% endif %}
        </td>
        <td>
          <!-- {% if appinstance.app.settings.publishable == "true" %}
            {% if appinstance.access == "public" %}
            <a href="{% url 'apps:publish' request.user project.slug category appinstance.pk %}">Unpublish</a>
            {% else %}
            <a href="{% url 'apps:publish' request.user project.slug category appinstance.pk %}">Publish</a>
            {% endif %}
          {% endif %} -->
        </td>
    </tr>
    {% endfor %}
    <div class="modal fade" id="confirm-delete" tabindex="-1" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete Deployment</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body m-3">
            <p class="mb-0">Are you sure that you want to delete the deployment?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-square btn-secondary cancel" data-bs-dismiss="modal">Close</button>
            <a class="btn btn-danger btn-ok">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </tbody>
</table>

<script>
  var exampleModal = document.getElementById('confirm-delete')
  exampleModal.addEventListener('show.bs.modal', function (event) {
  // Button that triggered the modal
  var button = event.relatedTarget
  // Extract info from data-bs-* attributes
  var recipient = button.getAttribute('data-bs-href')
  $(this).find('.btn-ok').attr('href', recipient);
})
</script>
