{% extends 'baseproject.html' %}
{% load static %}



{% block content %}

<div class="card flex-fill">
    <div class="card-header">
        <h5 class="card-title mb-0">{{ cat_obj.name }}</h5>
    </div>
    
        {% include 'app_table.html' %}
    
</div>




<div class="row">
    {% for app in apps %}
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">{{ app.name }}</h5>
            </div>
            <div class="card-body">
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <a href="{% url 'apps:create' request.user project.slug app.slug  %}" class="btn btn-primary">Create</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>




{% endblock %}