{% extends 'baseproject.html' %}
{% load static %}
{% block extrascripts %}

    <link rel="stylesheet" type="text/css" href="{% static 'dt/datatables.min.css' %}"/>

    <script type="text/javascript" src="{% static 'dt/datatables.min.js' %}"></script>

{% endblock %}
{% block content %}
    <div class="col-md-10">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h3>Labs</h3>
        </div>

        <div class="container-fluid">
            <form action="{% url 'labs:run' request.user project.slug %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="runExperiment">Start a labs session</label>
                    <label for="runExperiment">Image</label>
                    <select name="environment" class="form-control">
                        {% for environment in environments %}
                            <option value="{{ environment.slug }}">{{ environment.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="hidden" value="{{ project.id }}" name="project">
                <div class="form-group">
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <label for="Flavor">Flavor</label>
                        <select name="flavor" class="form-control">
                        {% for flavor in flavors %}
                           <option value="{{flavor.slug }}">{{ flavor.name}}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
        <div class="container-fluid" style="margin-top:100px;">
            <h3>Lab Session</h3>
            <div class="divider"></div>
            <div class="table-responsive">

                <table id="labsessions" class="table table-striped table-sm">
                    <thead>

                    <tr>
                        <th>#</th>
                        <th>Ingress</th>
                        <th>Image</th>
                        <th>Settings</th>
                        <th>Chart</th>
                        <th>Helm Repository</th>
                        <th>Created</th>
                        <th>Updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for session in sessions %}
                        <tr>
                            <td>
                                {{ session.id }}
                                <a href="{% url 'labs:delete' request.user project.slug session.id %}">
                                    <button class="btn-sm btn-warning">Delete</button>
                                </a>
                            </td>
                            <td><a href="http://{{ session.slug }}.{{ url }}"
                                   target="_blank">{{ session.slug }}.{{ url }}</a></td>
                            <td>{{ session.image }}</td>
                            <td>{{ session.settings }}</td>
                            <td>{{ session.chart }}</td>
                            <td>{{ session.helm_repo }}</td>
                            <td>{{ session.created_at }}</td>
                            <td>{{ session.updated_at }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <script>$(document).ready(function () {
                    $('#labsessions').DataTable();
                });</script>
            </div>
        </div>
    </div>
{% endblock %}
