{% extends 'base.html' %}
{% load static %}
{% block extra_sidebar_items %}

<li class="sidebar-header">
    Project
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="{% url 'projects:details' request.user project.slug %}">
        <i class="align-middle" data-feather="home"></i>
        <span class="align-middle">Dashboard</span>
    </a>
</li>
<li class="sidebar-item {{ menu.objects }}">
    <a class="sidebar-link" href="{% url 'models:list' request.user project.slug %}">
        <i class="align-middle" data-feather="layers"></i>
        <span class="align-middle">Models</span>
    </a>
</li>
<li class="sidebar-item {{ menu.compute }}">
    <a href="{% url 'apps:filtered' request.user project.slug 'compute' %}" class="sidebar-link">
        <i class="align-middle" data-feather="cpu"></i> <span class="align-middle">Compute</span>
    </a>
</li>
<li class="sidebar-item {{ menu.serve }}">
    <a href="{% url 'apps:filtered' request.user project.slug 'serve' %}" class="sidebar-link">
        <i class="align-middle" data-feather="check-circle"></i> <span class="align-middle">Serve</span>
    </a>
</li>
<li class="sidebar-item {{ menu.store }}">
    <a href="{% url 'apps:filtered' request.user project.slug 'store' %}" class="sidebar-link">
        <i class="align-middle" data-feather="database"></i> <span class="align-middle">Store</span>
    </a>
</li>
<li class="sidebar-item {{ menu.develop }}">
    <a href="{% url 'apps:filtered' request.user project.slug 'develop' %}" class="sidebar-link">
       <i class="align-middle"  data-feather="code"></i><span class="align-middle">Develop</span>
    </a>
</li>
{% comment "to be enabled via script" %} 
<li class="sidebar-item {{ menu.fedn }}">
    <a href="{% url 'apps:filtered' request.user project.slug 'fedn' %}" class="sidebar-link">
       <span class="align-middle" style="padding-right:10px;"><img class="align-middle" alt="FEDn Logo" src="{% static 'images/fedn.png' %}" width="20"  /> </span><span class="align-middle">FEDn</span>
    </a>
</li> 
{% endcomment %}
<li class="sidebar-item">
    <a class="sidebar-link" href="{% url 'projects:settings' request.user project.slug %}">
        <i class="align-middle" data-feather="settings"></i>
        <span class="align-middle">Settings</span>
    </a>
</li>
{% endblock %}

{% block extra_topnav_items %}
{% endblock %}
