{% extends 'common/common_base.html' %}

{% block title %}Reset Password{% endblock %}

{% load crispy_forms_tags %} 

{% block content %}
    <!-- Begin Page Content -->
    <div class="container">
        <!-- Main Content Here -->
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <h2>Reset Your Password</h2>
                  {% if validlink %}
                  <h3>Please enter your new password twice</h3>
                  <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form | crispy}}
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Change Password</button>
                  </form>
                  {% else %}
                  <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                  <a class="btn btn-primary" href="{% url 'login' %}">Go to Login</a><br >
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}
