{% extends base_template %}

{% load static %}
{% block content %}


<h1 class="h3 mb-3">Apps</h1>

<div class="row">
      {% for app in published_apps %}
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="{{ media_url }}{{ app.app.logo_file }}" alt="Card image cap" style="height:350px">
            <div class="card-header px-4 pt-4">
                <h3>
                    {{ app.name }}
                </h3>
                <!-- <div class="my-2">Started {{ project.created_at }}</div> -->
            </div>
            <div class="card-body px-4 pt-2">
                <p>Some text here</p>
                <div style="position:absolute;bottom:0.5em;">
                    <h4>
                        <a href="{{ app.table_field.url }}">Open</a>
                    </h4>
                </div>
            </div>
            
        </div>
    </div>
      {% endfor %}
</div>
{% endblock %}
