{% extends base_template %}

{% load static %}
{% load custom_tags %}
{% block content %}
<script>
    function myFunction(id) {
  var x = document.getElementById("app-details-"+id);
  console.log("app-details-"+id)
  console.log(x.classList.contains('d-flex'))
  if (x.classList.contains('d-flex')) {
    $('#app-details-'+id).removeClass("d-flex").addClass("invisible");
    x.style.display = "none";
  } else {
    $('#app-details-'+id).removeClass("invisible").addClass("d-flex");
  }
}
</script>
<div style="display: inline-flex;">
<h1 class="h3 mb-3" style="margin-right: 5px;">Public apps</h1>
<h1 class="h3 mb-3 ghost-number">{% if published_apps|length > 0  %}{{ published_apps|length }}{% endif %}</h1>
<div>
    {% for tf in request.session.app_tag_filters %}
    <div class="tag tag-list"><a class="tag-list-ico fas fa-times" style="color: #fffafa;" href="{% url 'portal:index' %}?tf_remove={{ tf | urlencode }}"></a><span style="font-weight: 500;">{{ tf }}</span></div>
    {% endfor %}
</div>
</div>
<div class="row">
    {% if not published_apps %}
    <p>No published apps available.</p>
    {% endif %}
      {% for app in published_apps %}
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <div class="row g-0 w-100 h-100">
                    <div class="col-12  d-flex flex-row">
                        <div class="col-8 d-flex">
                            <h3 style="font-size: 1.1rem;">{{ app.name }}</h3>
                            <!-- <h3 style="font-size: 1.1rem;">{{ app.name|title }}</h3> -->
                        </div>
                        <div class="col-4 d-flex justify-content-end">
                            <img src="{{ media_url }}{{ app.app.logo_file }}" class="img-fluid float-end" style="height:50px;padding-right: 5%;" alt="App Logo">
                        </div>
                    </div>
                    <div class="col-12  d-flex align-items-bottom flex-column">{{ app.app.name }}</div>
                    <div class="col-12  d-flex align-items-bottom flex-column">{{ app.description }}</div>
                    <div id="app-details-{{app.id}}" class="col-12  invisible align-items-bottom flex-column" style="display: none;">
                        <div><h6 style="font-weight: 500;display: inline-flex;">Owner:</h6> {{ app.owner }}</div>
                        <!-- <div><h6 style="font-weight: 500;display: inline-flex;">Project:</h6> {{ app.project.name }}</div> -->
                        <div><h6 style="font-weight: 500;display: inline-flex;">Created On:</h6> {{ app.created_on|date:"d M, Y" }}</div>
                        <!-- <div><h6 style="font-weight: 500;display: inline-flex;">Description:</h6> {{ app.description }} </div> -->
                    </div>
                    <div class="col-12  d-flex align-items-bottom flex-column">
                        <div class="h-100">
                            <div>
                                {% if request.session.app_tags|exists:app.id %}
                                {% with app.tags|split:"," as tags %}
                                {% for tag in tags %}
                                <a class="tag {% if tag in request.session.app_tag_filters%}disabled{% endif %}"
                                    href="{% url 'portal:index' %}?tf_add={{ tag | urlencode }}">
                                    <div class="tag-ico fas fa-tags fa-sm"></div><span>{{ tag }}</span>
                                </a>
                                {% endfor %}
                                <a href="{% url 'portal:index' %}?app_id_remove={{ app.id | urlencode }}&tag_count={{ tags.count | urlencode }}"
                                    style="display: inline-flex;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-circle tag-count"><span
                                            class="fas fa-minus"></span></button>
                                </a>
                                {% endwith %}
                                {% else %}
                                {% with app.tags|split:"," as tags %}
                                {% with tags|count_str as tag_limit %}
                                {% for tag in tags|slice:tag_limit %}
                                <a class="tag {% if tag in request.session.app_tag_filters%}disabled{% endif %}"
                                    href="{% url 'portal:index' %}?tf_add={{ tag | urlencode }}">
                                    <div class="tag-ico fas fa-tags fa-sm "></div><span>{{ tag }}</span>
                                </a>
                                {% endfor %}
                                {% if tags.count > tag_limit %}
                                <a href="{% url 'portal:index' %}?app_id_add={{ app.id | urlencode }}&tag_count={{ tags.count | urlencode }}"
                                    style="display: inline-flex;">
                                    {% csrf_token %}
                                    <button style="font-weight: 600;" type="submit" class="btn btn-light tag-count">+{{ tags.count|subtract:tag_limit }}</button>
                                </a>
                                {% endif %}
                                {% endwith %}
                                {% endwith %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12  d-flex flex-row">
                        <div class="col-6 d-flex" style="align-self: flex-end;">
                            {% if app.app.name == "Tensorflow Serving" or app.app.name == "PyTorch Serve" or app.app.name == "Python Model Deployment" %}
                            <a class="model-card-a" onclick="copyClip('{{app.table_field.url}}')"><button class="btn btn-sm btn-light model-card-a model-card-button" >Copy API Endpoint</button></a>
                            {% else %}
                            <a class="model-card-a" href="{{ app.table_field.url }}"><button class="btn btn-sm btn-light model-card-a model-card-button" >Open</button></a>
                            {% endif %}
                        </div>
                        <div class="col-6 d-flex justify-content-end" style="align-self: flex-end;">
                            <button class="btn btn-sm btn-light model-card-a model-card-button" onclick="myFunction({{ app.id }})">Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

      {% endfor %}
</div>
<script>
    function copyClip(data) {
        var inputc = document.body.appendChild(document.createElement("input"));
        inputc.value = data;
        inputc.focus();
        inputc.select();
        document.execCommand('copy');
        inputc.parentNode.removeChild(inputc);
}
</script>
{% endblock %}
