{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="hero text-center my-4">
        <h1 class="display-5"><i class="bi bi-emoji-frown text-danger mx-3"></i></h1>
        <h1 class="display-5 fw-bold">OOPS! Something went wrong.</h1>
    </div>
    <div class="content">
        <div class="row  justify-content-center py-3">
            <div class="col-md-6">
                <div class="my-5 p-5 card">
                    <h3>What can I do?</h3>
                    <p class="fs-4">If you're a site visitor</p>
                    <p>If you need immediate assistance, please send us an email instead. We apologize for any inconvenience.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}