{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SciLifeLab Serve (beta)</title>
    <link rel="icon" href="{% static 'dist/scilifelab_symbol.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'dist/css/light.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/custom.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'dist/css/select2.min.css' %}">
    <script src="{% static 'dist/js/select2.js' %}"></script>
    <script>
    $(document).ready(function() {
        $('.search-select-tag').select2({
            placeholder: "Select Tag ..."
        }).prop('required', true).trigger('change');

    });
    </script>
    {% load plotly_dash%}
    {% plotly_header %}

    {% block extra_head %} {% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168266875-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-168266875-2');
    </script>

</head>

<body data-theme="light" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
    <div class="wrapper">
        <nav id="sidebar" class="sidebar">
            <div style="border-right: 1px solid #dddddd;" class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="{% url 'home' %}">
                    <img src="{% static 'dist/scaleout-studio.svg' %}" alt="SciLifeLab Serve (beta)" width="220" >
                </a>
                <ul class="sidebar-nav">
                    <li class="sidebar-header">

                    </li>
                    <li class="sidebar-item {{ menu.home }}">
                        <a class="sidebar-link" href="{% url 'home' %}">
                            <i class="align-middle" data-feather="home"></i>
                            <span class="align-middle">Home</span>
                        </a>
                    </li>
                    <li class="sidebar-item {{ menu.portal }}">
                        <a class="sidebar-link" href="{% url 'portal:index' %}">
                            <i class="align-middle" data-feather="box"></i>
                            <span class="align-middle">Public apps</span>
                        </a>
                    </li>
                    <li class="sidebar-item {{ menu.models }}">
                        <a class="sidebar-link" href="{% url 'models:index' %}">
                            <i class="align-middle" data-feather="layers"></i>
                            <span class="align-middle">Models</span>
                        </a>
                    </li>
                    <li class="sidebar-item {{ menu.about }}">
                        <a class="sidebar-link" href="{% url 'about' %}">
                            <i class="align-middle" data-feather="info"></i>
                            <span class="align-middle">About</span>
                        </a>
                    </li>
                    <li class="sidebar-item {{ menu.guide }} {% if menu.guide %}{% else %}collapsed{% endif %}" data-bs-toggle="collapse" href="#submenu1">
                        <a class="sidebar-link">
                            <i class="align-middle" data-feather="file-text"></i>
                            <span class="align-middle">User Guide</span>
                        </a>
                    </li>
                    <ul class="{% if menu.guide == 'active' %}collapse show{% else %}collapse{% endif %}" style="list-style-type: none;" id="submenu1">
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'guide' %}#projects">
                                <i class="align-middle" data-feather="chevron-right"></i>
                                <span class="align-middle">Projects</span>
                            </a>
                        </li>
                        <li class="sidebar-item ">
                            <a class="sidebar-link" href="{% url 'guide' %}#apps-resources">
                                <i class="align-middle" data-feather="chevron-right"></i>
                                <span class="align-middle">Hosting apps</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'guide' %}#tutorials">
                                <i class="align-middle" data-feather="chevron-right"></i>
                                <span class="align-middle">Tutorials on model serving</span>
                            </a>
                        </li>
                    </ul>
                    {% if request.user.is_authenticated %}
                    <li class="sidebar-item {{ menu.projects }}">
                        <a class="sidebar-link" href="{% url 'projects:index' %}">
                            <i class="align-middle" data-feather="folder"></i>
                            <span class="align-middle">Projects</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <li class="sidebar-item {{ menu.admin }}">
                        <a class="sidebar-link" href="{% url 'studio_admin:index' %}">
                            <i class="align-middle" data-feather="settings"></i>
                            <span class="align-middle">Admin</span>
                        </a>
                    </li>
                    {% endif %}

                    {% block extra_sidebar_items %} {% endblock %}

                    <!-- <li class="sidebar-header">
                        Administration
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{% url 'studio_admin:index' %}">
                            <i class="align-middle" data-feather="users"></i>
                            <span class="align-middle">Studio Admin</span>
                        </a>
                    </li> -->
                </ul>
            </div>
        </nav>
        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>
                <!-- <form class="d-none d-sm-inline-block">
                    <div class="input-group input-group-navbar">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search">
                        <button class="btn" type="button">
                            <i class="align-middle" data-feather="search"></i>
                        </button>
                    </div>
                </form> -->
                <!-- <ul class="navbar-nav">
                    <li class="nav-item px-2 dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Help Center
                        </a>
                        <div class="dropdown-menu dropdown-menu-start dropdown-mega" aria-labelledby="servicesDropdown">
                            <div class="d-md-flex align-items-start justify-content-start">
                                <div class="dropdown-mega-list">
                                    <div class="dropdown-header">Installation</div>
                                    <a class="dropdown-item" href="https://scaleoutsystems.github.io/stackn/#/INSTALL?id=mac">Mac OS</a>
                                    <a class="dropdown-item" href="https://scaleoutsystems.github.io/stackn/#/INSTALL?id=linux">Linux</a>
                                    <a class="dropdown-item" href="https://scaleoutsystems.github.io/stackn/#/INSTALL?id=windows-10">Windows 10</a>
                                </div>
                                <div class="dropdown-mega-list">
                                    <div class="dropdown-header">Tutorials</div>
                                    <a class="dropdown-item" href="https://scaleoutsystems.github.io/stackn/#/tutorial?id=getting-started">Getting started</a>
                                    <a class="dropdown-item" href="https://scaleoutsystems.github.io/stackn/#/tutorial?id=deploy-a-model">Deploy a model</a>
                                    <a class="dropdown-item" href="https://scaleoutsystems.github.io/stackn/#/tutorial?id=cli">STACKn CLI</a>
                                    <a class="dropdown-item" href="#">STACKn API</a>
                                </div>
                                <div class="dropdown-mega-list">
                                    <div class="dropdown-header">Release notes</div>
                                    <a class="dropdown-item" href="https://scaleoutsystems.github.io/stackn/#/releasenotes?id=v040">v0.4.0</a>
                                    <a class="dropdown-item" href="https://scaleoutsystems.github.io/stackn/#/releasenotes?id=v030">v0.3.0</a>
                                    <a class="dropdown-item" href="https://scaleoutsystems.github.io/stackn/#/releasenotes?id=v020">v0.2.0</a>
                                    <a class="dropdown-item" href="https://scaleoutsystems.github.io/stackn/#/releasenotes?id=v010">v0.1.0</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul> -->
                {% if projects %}
                <ul class="navbar-nav">
                    <li class="nav-item px-2 dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="projectsDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if request.session.project_name %}
                            {{ request.session.project_name }}
                            {% else %}
                            Go to...
                            {% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-start dropdown-mega" aria-labelledby="projectsDropdown">
                            <div class="d-md-flex align-items-start justify-content-start">
                                <div class="dropdown-mega-list">
                                    <div class="dropdown-header">Projects</div>
                                    {% for p in projects %}
                                    <a class="dropdown-item" href="{% url 'projects:details' request.user p.slug %}">{{ p.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                {% endif %}


                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        {% if request.user.is_authenticated %}

                        {% block extra_topnav_items %} {% endblock %}

                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
                                data-bs-toggle="dropdown">
                                <i class="align-middle" data-feather="settings"></i>
                            </a>

                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
                                data-bs-toggle="dropdown">
                                <img src="{% static 'dist/img/avatars/avatar-default.png' %}"
                                    class="avatar img-fluid rounded-circle me-1" alt="{{ request.user }}" /> <span
                                    class="text-dark">{{ request.user }}</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="user"></i>
                                    Profile</a>
                                <a class="dropdown-item" href="#"><i class="align-middle me-1"
                                        data-feather="pie-chart"></i> Analytics</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Settings & Privacy</a>
                                <a class="dropdown-item" href="#">Help</a> -->
                                <form action="{% url 'oidc_logout' %}" method="post">
                                    {% csrf_token %}

                                    <input type="submit" class="dropdown-item" value="Sign out">
                                </form>
                            </div>
                        </li>
                        {% else %}
                        <div style="margin-right: 10px;"><a href="{% url 'account' %}"><button class="btn btn-sm btn-light model-card-a model-card-button" href="">Request an account</button></a></div>
                        <a href="{% url 'oidc_authentication_init' %}"><button class="btn btn-sm btn-light model-card-a model-card-button" href="">Sign in</button></a>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <main class="content">
                <div class="container-fluid p-0">
                    {% block content %} {% endblock %}
                </div>
            </main>

            <footer class="footer">
              <div class="container-fluid">
                  <div class="row text-muted">
                    <div class="col-md-10">
                        <p>SciLifeLab Serve is developed and maintained by the <a href="https://scilifelab.se/data">SciLifeLab Data Centre</a>. SciLifeLab Serve is based on <a href="https://github.com/scaleoutsystems/stackn">STACKn</a>, an open-source platform developed by <a href="https://www.scaleoutsystems.com/">Scaleout Systems</a>. With any questions please email datacentre@scilifelab.se.</p>
                        <p>This work was supported by a grant from the Knut and Alice Wallenberg Foundation to SciLifeLab for research in Datadriven Life Science.</p>
                        <p><a href="https://serve.scilifelab.se/privacy/">Privacy policy</a></p>
                    </div>
                    <div class="col-4 col-md-2">
                      <img class="img-fluid" src="{% static 'dist/scilifelab_kaw_logo.png' %}" alt="SciLifeLab and Knut and Alice Wallenberg Foundation">
                  </div>
                  </div>
              </div>
          </footer>
        </div>
    </div>


    <!-- Cookie alert -->
    <div class="d-flex justify-content-center cookiealert" role="alert">
      <span style="display: flex;align-items: center;">We use cookies to improve your experience of the website. By continuing you accept that we use cookies. More information: <a href="{% url 'privacy' %}#cookies">About cookies</a>.</span>
        <button type="button" class="btn btn-primary acceptcookies">
            I understand
        </button>
    </div>

    <!-- JS code for the cookie alert-->
    <script src="{% static 'dist/js/cookiealert.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>

    <script src="{% static 'dist/js/app.js' %}"></script>

    {% block extra_scripts %} {% endblock %}
</body>
{% plotly_footer %}
</html>
