{% extends 'base.html' %}

{% block extra_sidebar_items %}

<li class="sidebar-header">
    {{ project.name }}
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="{% url 'projects:details' request.user project.slug %}">
        <i class="align-middle" data-feather="home"></i>
        <span class="align-middle">Overview</span>
    </a>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="{% url 'monitor:overview' request.user project.slug %}">
        <i class="align-middle" data-feather="trending-up"></i>
        <span class="align-middle">Monitor</span>
    </a>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="{% url 'projects:settings' request.user project.slug %}">
        <i class="align-middle" data-feather="settings"></i>
        <span class="align-middle">Settings</span>
    </a>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="{% url 'projects:project_readme' request.user project.slug %}">
        <i class="align-middle" data-feather="code"></i>
        <span class="align-middle">README.md</span>
    </a>
</li>
<li class="sidebar-header">
    Resources
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="{% url 'models:list' request.user project.slug %}">
        <i class="align-middle" data-feather="layers"></i>
        <span class="align-middle">Models</span>
    </a>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="{% url 'datasets:page' request.user project.slug %}">
        <i class="align-middle" data-feather="hard-drive"></i>
        <span class="align-middle">Datasets</span>
    </a>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="{% url 'reports:index' request.user project.slug %}">
        <i class="align-middle" data-feather="file-text"></i>
        <span class="align-middle">Metrics</span>
    </a>
</li>
<li class="sidebar-item {{ menu.compute }}">
    <a href="{% url 'apps:filtered' request.user project.slug 'compute' %}" class="sidebar-link">
        <i class="align-middle" data-feather="cpu"></i> <span class="align-middle">Compute</span>
    </a>
</li>
<li class="sidebar-item {{ menu.serve }}">
    <a href="{% url 'apps:filtered' request.user project.slug 'serve' %}" class="sidebar-link">
        <i class="align-middle" data-feather="check-circle"></i> <span class="align-middle">Serve</span>
    </a>
</li>
<li class="sidebar-item {{ menu.store }}">
    <a href="{% url 'apps:filtered' request.user project.slug 'store' %}" class="sidebar-link">
        <i class="align-middle" data-feather="database"></i> <span class="align-middle">Store</span>
    </a>
</li>
<li class="sidebar-item {{ menu.misc }}">
    <a href="{% url 'apps:filtered' request.user project.slug 'misc' %}" class="sidebar-link">
        <i class="align-middle" data-feather="shuffle"></i> <span class="align-middle">Misc</span>
    </a>
</li>


{% endblock %}

{% block extra_topnav_items %}

<li class="nav-item dropdown">
    <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
        <div class="position-relative">
            <i class="align-middle" data-feather="bell"></i>
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
        <div class="dropdown-menu-header">
            4 New Notifications
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <div class="row g-0 align-items-center">
                    <div class="col-2">
                        <i class="text-danger" data-feather="alert-circle"></i>
                    </div>
                    <div class="col-10">
                        <div class="text-dark">Update completed</div>
                        <div class="text-muted small mt-1">Restart server 12 to complete the
                            update.</div>
                        <div class="text-muted small mt-1">2h ago</div>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item">
                <div class="row g-0 align-items-center">
                    <div class="col-2">
                        <i class="text-warning" data-feather="bell"></i>
                    </div>
                    <div class="col-10">
                        <div class="text-dark">Lorem ipsum</div>
                        <div class="text-muted small mt-1">Aliquam ex eros, imperdiet vulputate
                            hendrerit et.</div>
                        <div class="text-muted small mt-1">6h ago</div>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item">
                <div class="row g-0 align-items-center">
                    <div class="col-2">
                        <i class="text-primary" data-feather="home"></i>
                    </div>
                    <div class="col-10">
                        <div class="text-dark">Login from 192.186.1.1</div>
                        <div class="text-muted small mt-1">8h ago</div>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item">
                <div class="row g-0 align-items-center">
                    <div class="col-2">
                        <i class="text-success" data-feather="user-plus"></i>
                    </div>
                    <div class="col-10">
                        <div class="text-dark">New connection</div>
                        <div class="text-muted small mt-1">Anna accepted your request.</div>
                        <div class="text-muted small mt-1">12h ago</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="dropdown-menu-footer">
            <a href="#" class="text-muted">Show all notifications</a>
        </div>
    </div>
</li>
{% endblock %}
