{% extends 'base.html' %}
{% load static %}

{% block extra_head %} {% endblock %}

{% block extra_nav %}
<li class="nav-item">
    <div class="nav-link">/</div>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'projects:details' request.user project.slug %}"><b>{{ project.name }}</b></a>
</li>
{% endblock %}

{% block sidebar %}
<div class="col-md-1 new-sidebar" style="width:350px;">
    <ul class="nav flex-column list-group">

        <li class="nav-item list-group-item list-group-item-action sidebar-item">
            <a class="nav-link" href="{% url 'projects:details' request.user project.slug %}">
                <img src="{% static '/icons/house.svg' %}" alt="" width="24" height="24" title="Bootstrap">
                Overview
            </a>
        </li>

        <li class="nav-item list-group-item sidebar-heading">
            Studio
        </li>
        <li class="nav-item list-group-item list-group-item-action sidebar-item">
            <a class="nav-link" href="{% url 'labs:index' request.user project.slug %}">
                <img src="{% static '/icons/laptop.svg' %}" alt="" width="24" height="24" title="Bootstrap">
                Labs
            </a>
        </li>
        <li class="nav-item list-group-item list-group-item-action sidebar-item">
            <a class="nav-link" href="{% url 'experiments:index' request.user project.slug %}">
                <img src="{% static '/icons/terminal.svg' %}" alt="" width="24" height="24" title="Bootstrap">
                Experiments
            </a>
        </li>
        <li class="nav-item list-group-item list-group-item-action sidebar-item">
            <a class="nav-link" href="{% url 'workflows:workflows_index' request.user project.slug %}">
                <img src="{% static '/icons/arrow-repeat.svg' %}" alt="" width="24" height="24" title="Bootstrap">
                Workflows
            </a>
        </li>

        <li class="nav-item list-group-item sidebar-heading">
            Store
        </li>
        <!--
        <li class="nav-item list-group-item list-group-item-action sidebar-item">
            <a class="nav-link" href="{% url 'files:index' request.user project.slug %}">
                <img src="{% static '/icons/folder.svg' %}" alt="" width="24" height="24" title="Bootstrap">
                Files
            </a>
        </li>
        -->
        <li class="nav-item list-group-item list-group-item-action sidebar-item">
            <a class="nav-link" href="{% url 'datasets:page' request.user project.slug 1 %}">
                <img src="{% static '/icons/documents-alt.svg' %}" alt="" width="24" height="24"
                     title="Bootstrap">
                Datasets
            </a>
        </li>
        <li class="nav-item list-group-item list-group-item-action sidebar-item">
            <a class="nav-link" href="{% url 'models:index' request.user project.slug %}">
                <img src="{% static '/icons/diamond.svg' %}" alt="" width="24" height="24" title="Bootstrap">
                Models
            </a>
        </li>
        <li class="nav-item list-group-item list-group-item-action sidebar-item">
            <a class="nav-link" href="{% url 'reports:index' request.user project.slug %}">
                <img src="{% static '/icons/document-richtext.svg' %}" alt="" width="24" height="24"
                     title="Bootstrap" style="float: left; margin-top: 7px; margin-right: 5px;">
                Report Configurations
            </a>
        </li>

        <li class="nav-item list-group-item sidebar-heading">
            Serve
        </li>
        <li class="nav-item list-group-item list-group-item-action sidebar-item">
            <a class="nav-link" href="{% url 'deployments:deployment_index' request.user project.slug %}">
                <img src="{% static '/icons/plug.svg' %}" alt="" width="24" height="24" title="Bootstrap">
                Deployments
            </a>
        </li>
        <li class="nav-item list-group-item list-group-item-action sidebar-item">
            <a class="nav-link" href="{% url 'projects:settings' request.user project.slug %}">
                <img src="{% static '/icons/toggles.svg' %}" alt="" width="24" height="24" title="Bootstrap">
                Settings
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %} {% endblock %}


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
