{% load static %}

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="{% static 'img/favicon_6.ico' %}" type="image/x-icon">

    <title>Scaleout</title>

    <link rel="canonical" href="">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/studio.css' %}" rel="stylesheet">
    <link href="{% static 'css/project.css' %}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>

    <style type="text/css">
        /* Chart.js */
        @-webkit-keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }

            to {
                opacity: 1
            }
        }

        @keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }

            to {
                opacity: 1
            }
        }

        .chartjs-render-monitor {
            -webkit-animation: chartjs-render-animation 0.001s;
            animation: chartjs-render-animation 0.001s;
        }
    </style>

    <style type="text/css">
        #container {
            max-width: 1150px;
            height: 500px;

        }

        body {
            padding: 0;
            margin: 0;
        }
    </style>

    {% block extra_head %} {% endblock %}
</head>

<body>

<main role="main">

    <div class="container-fluid" style="height: inherit;">
        <div class="row" style="height: inherit;">
            {% block topnav %}
            <div class="col-md-1 d-flex justify-content-center" style="background:#F3F3F3;">
                <ul class="list-group d-flex">

                    <li class="list-inline" style="padding-top:10px;padding-bottom:30px;">
                        <p class="d-flex justify-content-center">
                            <img src="{% static 'img/stackn.png' %}" width="108" height="44">
                        </p>
                    </li>
                    <li class="list-inline">
                        <a class="nav-link" href="{% url 'models:index' %}" style="text-decoration: none; color:inherit;">
                            <p class="d-flex justify-content-center"><img
                                    src="{% static '/icons/lightning.svg' %}" alt="" width="24" height="24"
                                    title=""></p>
                            <p class="d-flex justify-content-center">Models</p>
                        </a>
                    </li>
                    <li class="list-inline">
                        <a class="nav-link" href="{% url 'projects:index' %}" style="text-decoration: none; color:inherit;">
                            <p class="d-flex justify-content-center"><img class="d-flex justify-content-center"
                                                                          src="{% static '/icons/folder.svg' %}"
                                                                          alt="" width="24" height="24"
                                                                          title=""></p>
                            <p class="d-flex justify-content-center">Projects</p>
                        </a>

                    </li>

                    <!-- Functionality not available with the first release!

                    <li class="list-inline">
                        <a class="nav-link" href="{% url 'deployments:index' %}">
                            <p class="d-flex justify-content-center"><img
                                    src="{% static '/icons/terminal.svg' %}" alt="" width="24" height="24"
                                    title=""></p>
                            <p class="d-flex justify-content-center">Environments</p>
                        </a>
                    </li>
                    <li class="list-inline">
                        <a class="nav-link" href="{% url 'workflows:workflows_definition_index' %}">
                            <p class="d-flex justify-content-center"><img
                                    src="{% static '/icons/file-code.svg' %}" alt="" width="24" height="24"
                                    title=""></p>
                            <p class="d-flex justify-content-center" align="center">
                                Workflow Definitions</p>
                        </a>
                    </li>
                    <li class="list-inline mb-auto">
                        <a class="nav-link" href="{% url 'deployments:deployment_definition_index' %}">
                            <p class="d-flex justify-content-center"><img
                                    src="{% static '/icons/file-code.svg' %}" alt="" width="24" height="24"
                                    title=""></p>
                            <div class="d-flex justify-content-center" align="center">Deployment Definitions</div>
                        </a>
                    </li>
                    -->

                    <li class="list-inline">
                        <a class="nav-link" href="{% url 'studio_admin:index' %}" style="text-decoration: none; color:inherit;">
                            <p class="d-flex justify-content-center"><img class="d-flex justify-content-center"
                                                                          src="{% static '/icons/person-lines-fill.svg' %}"
                                                                          alt="" width="24" height="24"
                                                                          title=""></p>
                            <p class="d-flex justify-content-center">Admin</p>
                        </a>
                    </li>

                    <li class="list-inline" style="margin-top: auto; margin-bottom: 25px; margin-left: auto; margin-right: auto;">
                        <a href="https://scaleoutsystems.github.io/stackn/" target="_blank">
                            <img src="{% static '/icons/question-circle.svg' %}" alt="" width="24" height="24" title="">
                        </a>
                        {% if request.user.is_authenticated %}
                        <a class="dropdown-toggle" href="#" id="auth_dropdown_id" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{% static '/icons/people-circle.svg' %}" alt="" width="24" height="24" title="">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="auth_dropdown_id">
                            <p class="d-flex justify-content-center">
                                {{ request.user }}
                            </p>
                            <form action="{% url 'oidc_logout' %}" method="post">
                              {% csrf_token %}

                              <input type="submit" value="Sign out">
                            </form>
                        </div>
                        {% else %}
                        <a href="{% url 'oidc_authentication_init' %}">
                            <img src="{% static '/icons/person.svg' %}" alt="" width="24" height="24" title="">
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            {% endblock %}

            {% block sidebar %} {% endblock %}

            {% block content %} {% endblock %}
        </div>
    </div>

</main>

{% block footer %} {% endblock %}

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">

{% block extrascripts %} {% endblock %}

</body>
</html>
