{% extends base_template %}
{% block content %}
<div class="d-flex justify-content-center">
    <h1 class="h1" style="font-weight: 800;">Sci</h1><h1 class="h1" style="color: #8eab3e; font-weight: 800;">Life</h1><h1 class="h1" style="font-weight: 800;">Lab</h1><h1 class="h1" style="margin-left: 5px;"> Serve</h1>
</div>

<div class="row" style="margin-top: 30px; font-size: medium;">
    <p>SciLifeLab Serve is a service under development for machine learning model serving and app publication. Upon launch the service is planned to be offered free of charge to Swedish researchers (both with and without SciLifeLab affiliation) and SciLifeLab platforms. <b>Currently, SciLifeLab Serve is in beta testing phase and is looking for test users.</b>
    </p>
    </div>

  <div class="row g-4 py-4 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <div class="mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" fill="currentColor" class="bi bi-diagram-3-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zm-6 8A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm6 0A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm6 0a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1z"/>
            </svg>
          </div>
          <h4>Serve machine learning models</h4>
          <p>Easily serve Tensorflow models and PyTorch models (get in touch for other options). Get FastAPI endpoints and build apps with graphical user interface (for example, allow to make predictions using your model).</p>
        </div>
        <div class="feature col">
          <div class="mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" fill="currentColor" class="bi bi-bar-chart-steps" viewBox="0 0 16 16">
              <path d="M.5 0a.5.5 0 0 1 .5.5v15a.5.5 0 0 1-1 0V.5A.5.5 0 0 1 .5 0zM2 1.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5v-1zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1zm2 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5v-1zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1z"/>
            </svg>
          </div>
          <h4>Publish R Shiny and Dash apps</h4>
          <p>Host interactive dashboards created with R Shiny and Dash to allow others in your team or the general public to explore your data or results.</p>
        </div>
        <div class="feature col">
          <div class="mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
              <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
              <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
            </svg>
          </div>
          <h4>Collaborate with your team</h4>
          <p>Work on your own or give access to your projects to team members for collaborative work.</p>
        </div>
      </div>

<div class="row">
  <h3>Sign up as a test user</h3>
  <p style="font-size:medium;">At this time, SciLifeLab Serve is running in beta mode, and we are looking for users that can help us with testing. The main functionality is ready, and beta users can make full use of the service but we cannot yet guarantee uninterruped operation. The team behind the service is happy to discuss the particular needs of each user/project. In order to sign up, please <a href="https://serve.scilifelab.se/account/">fill out this form</a> or send an email to datacentre@scilifelab.se.</p>

  <h3>Resource limitations</h3>
  <p style="font-size:medium;">At the moment, SciLifeLab Serve does not have any resource limitations. No specific decisions about the future resource limitations have been taken yet. When the service is launched, there are likely to be default limitations in terms of CPU and memory but we aim to cover the needs of most of the research projects.</p>

  <h3>Questions?</h3>
  <p style="font-size:medium;">The <a href="{% url 'about' %}">team behind SciLifeLab Serve</a> is happy to answer your questions and receive feedback, drop us a line to datacentre@scilifelab.se.</p>

</div>
{% endblock %}
