{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

{{ startpage | safe }}

{% endblock %}

{% block footer %}

<footer class="container-fluid py-5">
    <div class="row">
        <div class="col-3 d-flex">

        </div>
        <div class="col-3 col-md">

        </div>
        <div class="col-4 col-md">

        </div>
        <div class="col-2 col-md">
                       <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://scaleoutsystems.com/about/">Team</a></li>
                <li><a class="text-muted" href="https://scaleoutsystems.com/">Locations</a></li>
                <li><a class="text-muted" href="https://scaleoutsystems.com/privacy-policy">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
            <div class="align-content-center"><small class="d-block mb-3 text-muted">© 2017-2020</small></div>
        </div>
    </div>
</footer>


{% endblock %}

{% block extrascripts %}

{{ modalscript | safe }}

{% endblock extrascripts %}
