{% extends 'base.html' %}
{% block content %}
<div class="container p-0" style="margin-top: 30px; font-size: medium;">
  <h2>Privacy policy</h2>
  <h3>Personal Data Protection in the SciLifeLab Serve web portal and its services</h3>
  <p>In compliance with the Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC (General Data Protection Regulation, further in this text referred to as ‘GDPR’), SciLifeLab Data Centre at Uppsala University informs the entities on terms and conditions under which personal data in providing SciLifeLab Serve services are processed. Data subjects are natural persons using the SciLifeLab Serve services.&nbsp;</p>
  <p>
  <ul>
     <li>The controller of the personal data as defined by GDPR is Uppsala University, SciLifeLab Data Centre, Dept. of Immunology, Genetics and Pathology, Husargatan 3, 751 08 Uppsala, Sweden (further in this text referred to as "SciLifeLab Data Centre").</li>
     <li>The SciLifeLab Serve web portal and its services is a public web portal providing services to entities which conform to the Terms and conditions for the access. By accessing SciLifeLab Serve, the entity (and through it individual natural persons – for instance employees and students, i.e. data subjects under GDPR) gains access to a unique portfolio of information and communication technology services supporting data access requests.</li>
     <li>As regards the access to the services of SciLifeLab Serve, the services are two-fold: services the access to which does not require authentication and authorisation; and services the access to which requires authentication and authorisation. To access the services requiring authentication and authorisation, an user account needs to be created.</li>
     <li>As regards the access to the services of SciLifeLab Serve the access to which requires authentication and authorisation, the following personal data are being processed: name, surname, e-mail, institutional affiliation.</li>
     <li>As regards the access to the services of SciLifeLab Serve the access to which does not require authentication and authorisation, the following personal data are being processed: IP address (and other identifiers enabling the identification of the communication source and target) and other unique identifiers applied by individual services of SciLifeLab Serve.</li>
     <li>The processing of personal data is first launched upon the first use of any SciLifeLab Serve’s service. Non-anonymous personal data such as name, surname and e-mail are stored over the entire period of usage of SciLifeLab Serve’s services. For security reasons (in particular in order to prevent any duplicity of user account identities) and for accounting and reporting reasons personal data including name, surname and e-mail are also stored after the services of SciLifeLab Serve are no longer used. The data controller defines the technical and organisations terms and conditions for securing personal data so that their integrity and confidentiality is not breached.</li>
     <li>Personal data defined as traffic and location data, such as IP address (and other identifiers enabling the identification of the communication source and target) and other unique identifiers applied by individual services of SciLifeLab Serve will be kept for at most 18 months.</li>
     <li>Personal data relating to information about the usage of SciLifeLab Serve resources are stored for the period for which they are deemed necessary for the provision and improvement of the service.</li>
     <li>
        In case of SciLifeLab Serve services, personal data are being processed for the purpose of:
        <ul>
           <li>provision of own service comprising the need to authenticate and authorise the user;</li>
           <li>administration;</li>
           <li>ensuring the actual provision of SciLifeLab Serve service;</li>
           <li>statistics;</li>
           <li>service monitoring;</li>
           <li>optimisation of partial tasks and the services as such;</li>
           <li>security;</li>
           <li>drafting annual reports, monitoring reports, project result summaries and other similar documents.</li>
           <li>delivering service announcements to the users.</li>
        </ul>
     </li>
     <li>
        In case of SciLifeLab Serve services, personal data may be shared with:
        <ul>
           <li>organisational units (sections or departments) within SciLifeLab, which might also entail units at Karolinska institutet, Kungliga Tekniska Högskolan and Stockholms universitet, for reasons specified in art. 10.</li>
           <li>personal data defined as traffic and location data, such as IP address (and other identifiers enabling the identification of the communication source and target) and other unique identifiers applied by individual services of SciLifeLab Serve may be shared with network and service administrators of the entities connected to SciLifeLab Serve and members of security teams within the process of addressing traffic issues and security incidents.</li>
           <li>Other entities provided data subject’s personal data have been rendered anonymous or have undergone pseudonymisation.</li>
        </ul>
     </li>
     <li>
        Access to the services of SciLifeLab Serve may only be granted once the conditions set in the relevant rules of SciLifeLab Serve services have been met and the consent to personal data processing provided. Legal grounds allowing for processing personal data are as follows:
        <ul>
           <li>contractual obligation, for providing the service;</li>
           <li>
              justified interest of the controller, including in particular:
              <ul>
                 <li>fraud prevention;</li>
                 <li>sharing personal data within a business group for internal administrative purposes;</li>
                 <li>ensuring network and information security, consisting among others in preventing unauthorised access to electronic communication network and services, proliferation of malicious codes and mitigating attacks, and damage on computer and electronic communication systems.</li>
              </ul>
           </li>
        </ul>
     </li>
     <li>The data subject may exercise his/her rights in accordance with GDPR. Data subjects should claim their rights from the relevant personal data collector. You can obtain more detailed information about the processingof your particular personal data and apply for a register extract by contacting the SciLifeLab Data Centre at <a href="mailto:datacentre@scilifelab.se">datacente@scilifelab.se</a>. You can also contact Uppsala University’s data protection officer at <a href="mailto:dataskyddsombud@uu.se">dataskyddsombud@uu.se</a>.</li>
  </ul></p>
<h3>Cookies</h3>
  <p>SciLifeLab Serve uses cookies. A cookie is a text file that a website asks to store on the visitor’s computer. Cookies contain information that is needed for various functions on the website. Cookies can be created and stored by the website owner or created and stored by third parties. “Third party cookies” are created by external services, such as tools for collecting web statistics. They can be used to map your behaviour on several different websites. Most browsers offer the option of blocking this type of cookies.</p>
  <p>SciLifeLab Serve uses cookies for two purposes. One purpose is to collect web statistics about the visitors. Data from these cookies is used in the work on developing the functions and content of the service. When collecting web statistics, we use Google Analytics, and it creates third party cookies.</p>
  <p>The second purpose for which we use cookies is to know that you have accepted our use of cookies by clicking on the button &ldquo;I understand&rdquo; in our cookie message. This cookie is created stored by us, the website owner.</p>
  <h4>Detailed information about the cookies that are stored by our service</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Cookie</th>
        <th scope="col">Purpose</th>
        <th scope="col">Third-party</th>
        <th scope="col">Provider</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>acceptCookies</td>
        <td>Track accepting the use of cookies</td>
        <td>No</td>
        <td>-</td>
      </tr>
      <tr>
        <td>_ga</td>
        <td>Web analytics</td>
        <td>Yes</td>
        <td>Google Analytics</td>
      </tr>
      <tr>
        <td>_gid</td>
        <td>Web analytics</td>
        <td>Yes</td>
        <td>Google Analytics</td>
      </tr>
      <tr>
        <td>_gat_gtag_UA_XXXXXXX</td>
        <td>Web analytics</td>
        <td>Yes</td>
        <td>Google Analytics</td>
      </tr>
    </tbody>
  </table>

  <h4>Limiting the cookies</h4>
  <p>There are several ways of limiting the cookies that are accepted by your web browser. The settings vary from browser to browser, but in general, the options may be described as follows:</p>
  <p>You can:</p>
  <ul>
  <li>block cookies entirely in the browser settings;</li>
  <li>set the browser so you can accept or reject each cookie manually;</li>
  <li>set the browser to block third party cookies;</li>
  <li>list a number of trusted websites from which your browser will accept cookies;</li>
  <li>use a plug-in that wholly or partly limits cookies based on adjustable conditions;</li>
  <li>set the browser to delete all cookies when you close the program.</li>
  </ul>
  <p>You can read more about cookies <a href="https://pts.se/en/english-b/regulations2/legislation/electronic-communications-act/q/">on the Swedish Post and Telecom Authority’s website</a>.</p>
<h3>Changes to This Privacy Policy</h3>
  <p>We may update our Privacy Policy from time to time.
  Thus, we advise you to review this page periodically for any changes.
  We will notify you of any changes by posting the new Privacy Policy on this page.
  These changes are effective immediately, after they are posted on this page.</p>
<h3>Contact Us</h3>
<p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.</p>
</div>
{% endblock %}
