<div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
        <h3>Dashboard</h3>
    </div>

    <div class="col-auto ml-auto text-right mt-n1">
        <span class="dropdown mr-2">
<button class="btn btn-light bg-white shadow-sm dropdown-toggle" id="day" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<i class="align-middle mt-n1" data-feather="calendar"></i> Today
</button>
<div class="dropdown-menu" aria-labelledby="day">
<h6 class="dropdown-header">Settings</h6>
<a class="dropdown-item" href="#">Action</a>
<a class="dropdown-item" href="#">Another action</a>
<a class="dropdown-item" href="#">Something else here</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="#">Separated link</a>
</div>
</span>

        <button class="btn btn-primary shadow-sm">
<i class="align-middle" data-feather="filter">&nbsp;</i>
</button>
        <button class="btn btn-primary shadow-sm">
<i class="align-middle" data-feather="refresh-cw">&nbsp;</i>
</button>
    </div>

</div>