body {
    font-size: .875rem;
    font-family: 'IBM Plex Sans', 'Roboto', sans-serif;
}
h2 {
    font-weight: lighter;
}
.feather {
    width: 16px;
    height: 16px;
    font-size: 0.75em;
}

/*
 * Sidebar
 */

.sidebar-project {
    background-color: #F1F6F9;
    width: 12%;
}

.sidebar-project-title {
    margin: 25px 0 40px 0;
}

.sidebar-project-title-p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    word-break: break-all;
    padding: 0 15px 0 15px;
}

.sidebar-main {
    width: 8%;
    background: #E2EDF3;
    color: #443742;
}

.sidebar-bottom-icon {
    color: inherit;
    padding: 0 2.5px 0 2.5px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1; /* Behind the navbar */

    background-color: #FBFCFC;
    width:200px;
}

.sidebar-sticky {
    position: relative;
    top: 0;


    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;

}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.sidebar-item {
    background-color: #F1F6F9;
    border: 0px;
}

.sidebar-item-icon {
    padding-right: 5px;
}

/*
 * Content
 */

[role="main"] {
    height: 100%;
}

.body-main {
    width: 92%;
    padding: 0 25px 0 25px;
    color: #210124;
}

.body-project {
    width: 80%;
    padding: 0 25px 0 25px;
    color: #210124;
}

/*
 * Projects
 */

.card-add-project {
    margin-bottom: 15px;
    background-color: #F1F6F9;
    border: 0;
    border-radius: 0;
}

.form-add-project {
    margin-bottom: 0px;
    margin-top: 14px;
}

.form-input {
    border-radius: 0;
}

.card-project {
    margin-bottom: 15px;
    height: 302px;
    border: 0;
    border-radius: 0;
    background: #F1F6F9;
}

.card-project-title {
    border-bottom: 1px solid #C6DBE7;
    padding-bottom: 15px;
    margin: 0 0 15 0;
}

.card-project-description {
    font-weight: bold;
}

/*
 * Navbar
 */

.navbar {
    /*background-color: #ECF0F1;*/
    background-color: #f7f7f7;
    border-bottom: #f3f3f3 1px solid;
    /*height: 60px;*/
    z-index: 10;
}

.navbar-brand {

    padding-bottom: .75rem;
    font-size: 1rem;
}

.navbar .form-control {

    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    background-color: #FDFEFE;
    border-color: #F7F9F9;
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Breadcrumbs
 */

.breadcrumb {
    padding-left: 0px;
    margin-bottom: 0px;
    background-color: #ffffff;
}

.footer-sticky {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

/*
 * Tables
 */

.studio-table {
    color: #210124;
    
}

.studio-table-header {
    background-color: #F1F6F9;
}

.studio-table-actions-column {
    text-align: right;
}

.studio-table-icon {
    width: 15px;
    height: 15px;
    margin: 0 3 0 3;
}

.studio-table-a {
    color: #79aec8;
}

/*
 * Admin actions
 */

.recent-actions {
    background-color: #F1F6F9;
    color: #210124;
    padding: 10 20 10 20;
    height: 100%;
}

.recent-actions-h4 {
    padding: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #C6DBE7;
}

.recent-actions-h6 {
    padding: 0 16px;
    margin: 0 0 16px;
    font-weight: bold;
}

/*
 * Modal
 */

.studio-modal-table-header {
    padding: 16;
    text-align: left;
    background: #79aec8;
    color: #fdfefe;
    font-weight: bold;
}

.button-orange {
    width: fit-content;
    background-color: #F5853F;
    color: #ffffff;
    border-radius: 0;
}

.button-blue {
    width: fit-content;
    background-color: #4281A4;
    border-radius: 0;
    color: #ffffff;
}

.button-red {
    width: fit-content;
    background-color: #CB2A5D;
    border-radius: 0;
    color: #ffffff;
}
