{% extends 'common/common_base.html' %}

{% load static %}

{% block title %}Welcome to STACKn!{% endblock %}


{% block content %}
  <div class="container">
    <!-- Outer Row -->  
    <div class="row justify-content-center mt-5">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card border-0 shadow-lg my-5">
          <div class="card-body p-0" >
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block">
                <img src="{% static 'dist/img/Uppsala.jpg' %}" class="rounded mx-auto d-block" style="width:500px; height:515px" alt="Uppsala Base10">
              </div>
              <div class="col-lg-6 pl-4">
                <div class="p-5">
                  <div class="text-center mb-1">
                    <img src="{% static 'dist/stackn.png' %}" alt="STACKn Logo" width="200" >
                  </div>
                  <a href="{% url 'common:signup' %}" class="btn btn-success btn-block btn-lg">Sign Up</a>
                  <br>
                  <a href="{% url 'login' %}" class="btn btn-primary btn-block btn-lg">Login</a>
                  <br>
                  <a href="{% url 'password_reset' %}" class="btn btn-warning btn-block btn-lg">Forgot Password</a>
                  <hr>
                  <a href="{% url 'social:begin' 'github' %}" class="btn btn-dark btn-block">
                    <i class="fab fa-github fa-fw"></i> Login with Github
                  </a>
                  <a href="{% url 'social:begin' 'google' %}" class="btn btn-google btn-block">
                    <i class="fab fa-google fa-fw"></i> Login with Google
                  </a>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}