@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Bold.tff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Regular.tff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Light.tff');
    font-weight: 300;
    font-style: normal;
}
