name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    env:
      DOCKER_USER: ${{ secrets.DOCKER_USER }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      DOCKER_URL: scaleoutsystems
      working-directory: ./components/file-controller

    steps:
    - uses: actions/checkout@v2

    - name: Setup variables
      id: wf-vars
      run: |
        BRANCH=${GITHUB_REF##*/}
        VERSION=${GITHUB_REF##*-}
        IMAGE_NAME="file-controller"
        IMAGE_TAG="$BRANCH"
        echo ::set-output name=IMAGE_NAME::$IMAGE_NAME
        echo ::set-output name=IMAGE_TAG::$IMAGE_TAG

    - name: docker login
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD $DOCKER_URL

    - name: docker build file-controller
      env:      
        DOCKER_URL: scaleoutsystems
      run: |
        docker build -t $DOCKER_URL/${{ steps.wf-vars.outputs.IMAGE_NAME }}:${{ steps.wf-vars.outputs.IMAGE_TAG }} .
        
    - name: docker push
      env:      
        DOCKER_URL: scaleoutsystems
      run: |
        docker push $DOCKER_URL/${{ steps.wf-vars.outputs.IMAGE_NAME }}:${{ steps.wf-vars.outputs.IMAGE_TAG }}
