{% extends 'base.html' %}

{% block content %}
<h1 class="h3 mb-3">Projects</h1>

{% if request.user.is_authenticated %}
<a href="{% url 'projects:create' %}" class="btn btn-primary float-end mt-n1"><i class="fas fa-plus"></i> New project</a>
{% endif %}

<div class="row">

    {% for project in projects %}
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card">

            <div class="card-header px-4 pt-4">
                <div class="card-actions float-end">
                    <div class="dropdown show">
                        <a href="#" data-bs-toggle="dropdown" data-display="static">
                            <i class="align-middle" data-feather="more-horizontal"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-end">
                            {% if request.user.is_authenticated %}
                            <a class="dropdown-item" href="{% url 'projects:details' request.user project.slug %}">View
                                project</a>
                            {% else %}
                            <a class="dropdown-item" href="{% url 'oidc_authentication_init' %}">View project</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <h5 class="card-title mb-0">{{ project.name }}</h5>
                <div class="my-2">Started {{ project.created_at }}</div>
            </div>
            <div class="card-body px-4 pt-2">
                <p>{{ project.description }}</p>
                <p>Members: {{ project.owner }}
                    {% if project.authorized.all %}
                    {% for user in project.authorized.all %}
                    , {{ user.username }}
                    {% endfor %}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
