{% extends 'baseproject.html' %}

{% block content %}
{% if readme %}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">README.md</h5>
            <h6 class="card-subtitle text-muted">The content of your README.md file is presented below.</h6>
        </div>
        <div class="card-body">
            {{ readme | safe }}
        </div>
    </div>
</div>
{% else %}

<div class="row">
    <p>No README.md file added for this project.</p>
</div>
{% endif %}

{% endblock %}
