{% extends 'base.html' %}

{% block content %}
<h1 class="h3 mb-3">New project</h1>

<div class="row">
  {% for template in templates %}
    <!-- <div class="col-4 col-xl-4 mb-4">
        <div class="card h-100 ">
          <img class="card-img-top" src="{{ media_url }}{{ template.image }}" alt="Template Image" style="height:150px;width:150px;">
          <div class="card-header">
            <h3>{{ template.name }}</h3>
          </div>
          <div class="card-body">
            <p>{{ template.description }}</p>
            <div style="position:absolute;bottom:0.5em;">
              <h4>
                  <a href="{% url 'projects:create' %}?template={{ template.name | urlencode }}">Create</a>
              </h4>
            </div>
          </div>
        </div>
    </div> -->

    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4 mb-4">
        <div class="card h-100">  
            <div class="card-body">
                <div class="row g-0 w-100 h-100">
                    <div class="col-8  d-flex align-items-bottom flex-column">
                        <div class="pt-2">
                            <h3>{{ template.name }}</h3>
                        </div>
                        <div class="h-100">
                            <p>{{ template.description }}</p>
                            <div style="position:absolute;bottom:0.5em;">
                                <h4>
                                    <a href="{% url 'projects:create' %}?template={{ template.name | urlencode }}">Create</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="{{ media_url }}{{ template.image }}" class="img-fluid float-end" style="height:100px;" alt="Template Logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
  {% endfor %}
</div>
{% endblock %}