
{% extends 'baseproject.html' %}

{% load staticfiles %}

{% block content %}
{% if is_authorized %}
<div class="col-md-9">
    <div class="d-flex flex-column pt-3 pb-3 mb-5 border-bottom">
        <h3>{{ project.name }}</h3>
        <h5>{{ project.description }}</h5>
    </div>
    <div class="row">
        <div class="col-md-9">
            



            <h3>Lab sessions</h3>
            <table id="labsessions" class="table table-striped table-sm">
                <thead>

                <tr>
                    <th></th>
                    <th>Ingress</th>
                    <th>Status</th>
                    <th>Image</th>
                    
                    <!-- <th>Settings</th>
                    <th>Chart</th>
                    <th>Helm Repository</th> -->
                    
                    <th>Created</th>
                    <!-- <th>Updated</th> -->
                </tr>
                </thead>
                <tbody>
                {% for session in sessions %}
                    <tr>
                        {% if session.helmchart.status == "True" %}
                        <td>
                            <!-- {{ session.id }} -->
                            <a href="{% url 'labs:delete' request.user project.slug session.id %}">
                                <button class="btn-sm btn-warning">Delete</button>
                            </a>
                        </td>
                        <td><a href="http://{{ session.slug }}.{{ lab_url }}"
                               target="_blank">{{ session.slug }}.{{ lab_url }}</a></td>
                        <td>Ready</td>
                        {% else %}
                        <td>
                            <a href="{% url 'labs:delete' request.user project.slug session.id %}">
                            <button class="btn-sm btn-warning">Delete</button>
                            </a>
                        </td>
                        <td>{{ session.helmchart.info }}</td>
                        <td>Not ready</td>
                        {% endif %}
                        <td>{{ session.environment_slug }}</td>
                        
                        <!-- <td>{{ session.settings }}</td>
                        <td>{{ session.chart }}</td>
                        <td>{{ session.helm_repo }}</td> -->
                        <td>{{ session.created_at }}</td>
                        <!-- <td>{{ session.updated_at }}</td> -->
                    </tr>
                {% endfor %}
                </tbody>
            </table>















        </div>
        <!-- <div class="col-sm-6">
            <form method="POST" id="project_activity"
                  project-activity-url="{% url 'projects:project_activity' request.user project.slug %}" novalidate>
                {% csrf_token %}

                <h4 class="d-flex justify-content-start">
                    <span style="padding-top: 3px; padding-right: 15px;">
                        Project activity
                    </span>
                    <select id="id_time_period" class="form-control" style="width: 30%;">
                        <option value="always">--</option>
                        <option value="always">Always</option>
                        <option value="month">Last month</option>
                        <option value="week">Last week</option>
                    </select>
                </h4>
                <div id="project_logs">
                </div>
            </form>
        </div> -->
    </div>
</div>
{% endif %}
{% endblock %}

{% block extrascripts %}
<script>
    $("#id_time_period").change(function () {
      var url = $("#project_activity").attr("project-activity-url");
      var period = $(this).val();

      $.ajax({
        url: url,
        data: {
          'period': period
        },
        success: function (data) {
          $("#project_logs").html(data);
        }
      });
    });
</script>
{% endblock %}
