{% extends 'baseproject.html' %}
{% block content %}
<div class="col-md-9">
    <nav aria-label="breadcrumb" class="project-breadcrumb-nav">
        <ol class="breadcrumb project-breadcrumb-ol">
            <li class="breadcrumb-item"><a href="{% url 'projects:index' %}">Projects</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
        </ol>
    </nav>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Settings</h2>
    </div>

    <div class="container-fluid" style="padding:15px;">
        <h5>General</h5>
        <form action="{% url 'projects:change_description' request.user project.slug %}" method="POST">
            {% csrf_token %}
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" readonly placeholder="{{ project.name }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-sm-2 col-form-label">Descriptions</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="description" name="description" rows=5
                              placeholder="{{ project.description }}"></textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" name="save">Save</button>
        </form>
    </div>
    
    {% if user_permissions.view_credentials %}
    <div class="container-fluid" style="padding: 15px;">
        <h5>S3 Credentials</h5>
        <div class="form-group row">
            <label for="url_minio" class="col-sm-2 col-form-label">URL</label>
            <div class="col-sm-10">
                <a class="form-control-plaintext" id="url_minio"
                   href="https://{{ project.slug }}-minio.{{ url_domain }}/" style="color: #007bff;">
                    https://{{ project.slug }}-minio.{{ url_domain }}/
                </a>
            </div>
        </div>
        <div class="form-group row">
            <label for="access_key" class="col-sm-2 col-form-label">Access Key</label>
            <div class="col-sm-10">
                <input type="url" readonly class="form-control-plaintext" id="access_key"
                       value="{{ decrypted_key }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="secret_key" class="col-sm-2 col-form-label">Secret Key</label>
            <div class="col-sm-10">
                <input type="url" readonly class="form-control-plaintext" id="secret_key"
                       value="{{ decrypted_secret }}">
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Not available with the first release!

    <div class="container-fluid" style="padding:15px;">
        <h5>Workflows</h5>
        <h6>Settings for workflows</h6>

        <form>
            <div class="form-group row">
                <label for="training_workflow" class="col-form-label col-sm-2 pt-0">Default Training workflow</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="training_workflow" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="deployment_workflow" class="col-form-label col-sm-2 pt-0">
                    Default Deployment workflow
                </label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="deployment_workflow" rows="3"></textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    -->

    <div class="container-fluid" style="padding:15px;">
        <h5>Sharing and collaboration</h5>
        <h6>Settings for sharing and collaboration</h6>

        <form>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Sharing level</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sharing_level" id="1" value="" checked>
                            <label class="form-check-label" for="1">
                                Private
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sharing_level" id="2" value="" disabled>
                            <label class="form-check-label" for="2">
                                Public
                            </label>
                        </div>
                        <!-- Not available with the first release!
                        
                        <div class="form-check disabled">
                            <input class="form-check-input" type="radio" name="sharing_level" id="3" value="" disabled>
                            <label class="form-check-label" for="3">
                                Alliance
                            </label>
                        </div>
                        -->
                    </div>
                </div>
            </fieldset>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

    {% if user_permissions.add_member %}
    <div class="container-fluid" style="padding: 15px;">
        <h5>Grant access</h5>
        <p>For granting access to this project, select one or more users from the list below.</p>
        <p>Hold <b>ctrl</b> or <b>shift</b> (or drag with the mouse) to select more than one.</p>
        <form method="POST" action="{% url 'projects:grant_access' request.user project.slug %}">
            {% csrf_token %}

            <div class="form-group">
                <select name="selected_users" required="" multiple="" class="form-control" id="id_selected_users">
                    {% for user in platform_users %}
                    <option value="{{ user.pk }}"
                            {% if user in project.authorized.all %} style="background-color: #D5F5E3;" {% endif %}>
                        {{ user.username }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Grant</button>
        </form>
    </div>
    {% endif %}

    {% if user_permissions.add_member and project.authorized.all %}
    <div class="container-fluid" style="padding: 15px;">
        <h5>Revoke access</h5>
        <form method="POST" action="{% url 'projects:revoke_access' request.user project.slug %}">
            {% csrf_token %}

            <div class="form-group">
                <select name="selected_users" required="" multiple="" class="form-control" id="id_selected_users">
                    {% for user in project.authorized.all %}
                    <option value="{{ user.pk }}">
                        {{ user.username }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-danger">Revoke</button>
        </form>
    </div>
    {% endif %}

    <div class="container-fluid" style="padding:15px;">
        <h5>Publish project on GitHub</h5>

        {% if not project.clone_url %}
        <h6 style="padding-bottom: 15px;">
            Fill in GitHub account's credentials to publish project:
        </h6>

        <form action="{% url 'projects:publish_project' request.user project.slug %}" method="POST">
            {% csrf_token %}

            <div class="form-group row">
                <label for="id_user_name" class="col-sm-2 col-form-label">GitHub username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="id_user_name" name="user_name" maxlength="256"
                           required="">
                </div>
            </div>
            <div class="form-group row">
                <label for="id_user_password" class="col-sm-2 col-form-label">GitHub password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="id_user_password" name="user_password"
                           maxlength="256" required="">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Publish</button>
        </form>
        {% else %}
        <h6 style="padding-bottom: 15px;">
            This project is already available on GitHub.
        </h6>

        <div class="form-group row">
            <label for="github_clone_url" class="col-sm-2 col-form-label">Clone URL</label>
            <div class="col-sm-10">
                <input type="url" readonly class="form-control-plaintext" id="github_clone_url"
                       value="{{ project.clone_url }}">
            </div>
        </div>
        {% endif %}
    </div>

    <div class="container-fluid" style="padding:15px;">
        <h5 style="padding-bottom: 15px;">Danger Zone</h5>
        <div>
            <h6 style="padding-bottom: 15px;">
                Transfer this project's ownership to another user within your organization.
            </h6>
            <form method="POST" style="padding-bottom: 15px;">
                {% csrf_token %}

                <div class="form-group row">
                    <label for="id_transfer_to" class="col-sm-2 col-form-label">Transfer to</label>

                    <div class="col-sm-10">
                        <select class="form-control" type="text" name="transfer_to" maxlength="256" required=""
                                id="id_transfer_to">
                            <option value="">--</option>
                            {% for user in platform_users %}
                            <option value="{{ user.pk }}">{{ user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <label class="col-sm-2 col-form-label"></label>

                    <div style="padding-left: 15px; padding-top: 5px;">
                        <button class="btn btn-outline-danger">
                            <a data-toggle="modal" data-target="#transferModal">
                                Transfer
                            </a>
                        </button>
                        <div class="modal fade" id="transferModal" tabindex="-1" role="dialog"
                             aria-labelledby="transferModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="transferModalLabel">Confirm transfer</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="submit" id="transfer" class="btn btn-sm btn-outline-warning">
                                            Transfer
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div>
            <h6 style="padding-bottom: 15px;">
                Once you delete this project, there is no going back. Please be certain.
            </h6>
            <div class="form-group row">
                <label for="id_delete_button" class="col-sm-2 col-form-label">Delete project</label>
                <button type="submit" class="btn btn-danger" id="id_delete_button"
                        style="padding-left: 12px;margin-left: 15px;" data-toggle="modal" data-target="#deleteModal">
                    Delete
                </button>
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                     aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Confirm delete</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                </button>
                                <a href="{% url 'projects:delete' request.user project.slug %}">
                                    <button id="delete" class="btn btn-sm btn-outline-warning">Delete
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
